<%- include('layout/layout', {title: 'Хронология'});%>

<div id="content">
    <div class="outer">
        <div class="inner bg-light lter">
            &nbsp;<div>
                <ul id="css3menu3" class="topmenu" style="">
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#RequestSQLModal" title="SQL">
                            <img src="/img/icon/sql.png" alt="SQL">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a href="#" title="Печать">
                            <img src="/img/icon/print.png" alt="Печать">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a href="#" title="Предварительный просмотр">
                            <img src="/img/icon/old_edit_find.png" alt="Предварительный просмотр">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#WordTableExportModal"
                           title="Экспорт таблицы в Word">
                            <img src="/img/icon/word.png" alt="Экспорт таблицы в Word">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#ExelTableExportModal"
                           title="Экспорт таблицы в Exel">
                            <img src="/img/icon/exel.png" alt="Экспорт таблицы в Exel">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#HTMLTableExportModal"
                           title="Экспорт таблицы в HTML">
                            <img src="/img/icon/html.png" alt="Экспорт таблицы в HTML">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a href="#" title="Экспорт таблицы в TXT">
                            <img src="/img/icon/txt.png" alt="Экспорт таблицы в TXT">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <header>
                            <div class="icons"><i class="fa fa-table"></i></div>
                            <h5>Таблица хронология</h5>
                        </header>
                        <div id="collapse4" class="body">
                            <table id="dataTable"
                                   class="table table-bordered table-condensed table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>Код</th>
                                    <th>Дата операции</th>
                                    <th>Тип операции</th>
                                    <th>Код товара</th>
                                    <th>Артикул</th>
                                    <th>Товар</th>
                                    <th>Ед. изм.</th>
                                    <th>Количество</th>
                                    <th>Цена</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>10.05.2017</td>
                                    <td>Продажа</td>
                                    <td>1</td>
                                    <td>111111-895745</td>
                                    <td>Брызговик стандарт</td>
                                    <td>шт</td>
                                    <td>-1</td>
                                    <td>500</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>11.05.2017</td>
                                    <td>Списание</td>
                                    <td>10</td>
                                    <td>874562-895745</td>
                                    <td>Болт</td>
                                    <td>шт</td>
                                    <td>-10</td>
                                    <td>55</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>11.05.2017</td>
                                    <td>Приход</td>
                                    <td>5</td>
                                    <td>102650-895745</td>
                                    <td>Бачок омывателя передний</td>
                                    <td>шт</td>
                                    <td>3</td>
                                    <td>1520</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.inner -->
    </div>
    <!-- /.outer -->
</div>
<!-- /#content -->


<%- include('layout/layout-footer');%>

<div id="RequestSQLModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Выполнить SQL-запрос</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <label>SQL</label><br>
                    <textarea style="width: 100%; max-width: 100%" class="form-control" name="sqlRequestText" id="sqlRequestText"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <label>Ответ на запрос</label><br>
                    <textarea style="width: 100%; max-width: 100%" class="form-control" name="responseSql" id="responseSql"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" onclick="sqlRequest()">Выполнить</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="WordTableExportModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Экспорт таблицы в Microsoft Word</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <h4>Параметры</h4>
                    <hr>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, сначала будут напечатаны наименования полей, а уже потом данные">
                        <label>Печатать заголовки полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, в конце документа, после таблицы будут напечаны итоги полей, содержащие итоговые суммы ">
                        <label>Печатать итоги полей</label><br>
                    </div>
                    <hr>
                    <label class="control-label">Заголовок документа:</label><br>
                    <input class="form-control validate[required]" type="text" style="width: 100%">
                    <hr>
                    <label class="control-label">Поля таблицы "Хронология":</label><br>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Код</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Дата операции</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Тип операции</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Код товара</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Артикул</label><br>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Товар</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Ед. изм.</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Количество</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Цена</label><br>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Экспорт</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="ExelTableExportModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Экспорт таблицы в Microsoft Exel</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <h4>Параметры</h4>
                    <hr>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, сначала будут напечатаны наименования полей, а уже потом данные">
                        <label>Печатать заголовки полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input type="checkbox"
                               title="Если данная галочка отмечена, в конце документа, после таблицы будут напечаны итоги полей, содержащие итоговые суммы ">
                        <label>Печатать итоги полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input type="checkbox">
                        <label>Печатать сетку</label>
                    </div>
                    <hr>
                    <label class="control-label">Заголовок документа:</label><br>
                    <input class="form-control validate[required]" type="text" style="width: 100%"><br>
                    <hr>
                    <label class="control-label">Поля таблицы "Хронология":</label><br>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Код</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Дата операции</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Тип операции</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Код товара</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Артикул</label><br>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Товар</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Ед. изм.</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Количество</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Цена</label><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Экспорт</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="HTMLTableExportModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 50%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Экспорт таблицы в HTML</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <h4>Параметры</h4>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, сначала будут напечатаны наименования полей, а уже потом данные">
                        <label>Печатать заголовки полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, в конце документа, после таблицы будут напечаны итоги полей, содержащие итоговые суммы ">
                        <label>Печатать итоги полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Для каждой записис будет сгененрирован один общий файл">
                        <label>Печатать все записи в одном файле</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Экспорт</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<%- include('layout/layout-scripts');%>

<script>
    $(document).ready(function () {
        $("#RequestSQLModal").validationEngine();
        $("#WordTableExportModal").validationEngine();
        $("#ExelTableExportModal").validationEngine();
        $("#HTMLTableExportModal").validationEngine();
    });
</script>
