<%- include('layout/layout', {title: 'Клиенты'}); %>

<div id="content">
    <div class="outer">
        <div class="inner bg-light lter">
            <!--Begin Datatables-->
            <div>
                <ul id="css3menu3" class="topmenu" style="">
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#addClientModal" title="Новый клиент">
                            <img src="/img/icon/new_user.png" alt="Новый клиент">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#ChangeClientModal"
                           title="Изменить данные о клиенте">
                            <img src="/img/icon/edit_user.png" alt="Изменить данные о клиенте">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a href="#" title="Удалить клиента"><img src="/img/icon/delete_user.png" alt="Удалить клиента"></a>
                    </li>
                    <li class="topmenu">
                        <a href="#" title="Очистить таблицу"><img src="/img/icon/delete_table.png"
                                                                  alt="Очистить таблицу"></a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#RequestSQLModal" title="SQL">
                            <img src="/img/icon/sql.png" alt="SQL">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a href="javascript:window.print(); void 0;" title="Печать"><img src="/img/icon/print.png"
                                                                                         alt="Печать"></a>
                    </li>
                    <li class="topmenu">
                        <a href="#" title="Предварительный просмотр"><img
                                    src="/img/icon/old_edit_find.png" alt="Предварительный просмотр"></a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#WordTableExportModal"
                           title="Экспорт таблицы в Word">
                            <img src="/img/icon/word.png" alt="Экспорт таблицы в Word">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#ExelTableExportModal"
                           title="Экспорт таблицы в Exel">
                            <img src="/img/icon/exel.png" alt="Экспорт таблицы в Exel">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#HTMLTableExportModal"
                           title="Экспорт таблицы в HTML">
                            <img src="/img/icon/html.png" alt="Экспорт таблицы в HTML">
                        </a>
                    </li>
                    <li class="topmenu"><a href="#" title="Экспорт таблицы в TXT"><img src="/img/icon/txt.png"
                                                                                       alt="Экспорт таблицы в TXT"></a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#ChartModal" title="График">
                            <img src="/img/icon/blocks-grafics.png" alt="График">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <header>
                            <div class="icons"><i class="fa fa-table"></i></div>
                            <h5>Таблица с информацией о клиентах</h5>
                        </header>
                        <div id="collapse4" class="body">
                            <table id="dataTable"
                                   class="table table-bordered table-condensed table-hover table-responsive">
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th>ID</th>
                                    <th>ФИО</th>
                                    <th>Тип</th>
                                    <th>Телефон</th>
                                    <th>E-mail</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% if (clients.length) { %>
                                <% for(var i = 0; i < clients.length; i++) { %>
                                <tr ondblclick="informClient(<%= clients[i].id %>);"
                                    onclick="clientOrders(<%= clients[i].id %>);">
                                    <td><%= i + 1 %></td>
                                    <td id="id"><%= clients[i].id %></td>
                                    <td><%= clients[i].fullName %></td>
                                    <td><%= clients[i].typeClient %></td>
                                    <td><%= clients[i].phone %></td>
                                    <td><%= clients[i].email %></td>
                                </tr>
                                <% }} %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <!--End Datatables-->

            <div>
                <button>
                    <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                       class="btn btn-primary btn-sm"
                       href="#addOrderModal" id="addOrderButton" onclick="newOrder()">
                        <i class="">Добавить заказ</i>
                    </a>
                </button>
                <button>
                    <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                       class="btn btn-info btn-sm"
                       href="#changeOrderModal" onclick="editOrder()">
                        <i class="">Изменить заказ</i>
                    </a>
                </button>
                <button>
                    <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                       class="btn btn-danger btn-sm"
                       href="#deleteOrderModal">
                        <i class="">Удалить заказ</i>
                    </a>
                </button>
            </div>

            <div class="row">
                <!-- .col-lg-6 -->
                <div class="col-lg-12">
                    <div class="box">
                        <header>
                            <h5>Заказы</h5>
                            <div class="toolbar">
                                <div class="btn-group">
                                    <a href="#defaultTable" data-toggle="collapse"
                                       class="btn btn-sm btn-default minimize-box">
                                        <i class="fa fa-angle-up"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                        </header>
                        <div id="defaultTable" class="body collapse in">
                            <table class="table responsive-table table-hover " id="tableOrdersClient">
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th>№ заказа</th>
                                    <th>Дата приема заказа</th>
                                    <th>Время приема заказа</th>
                                    <th>Сумма заказа</th>
                                    <th>Стоимость запчастей</th>
                                    <th>Дата окончания заказа</th>
                                    <th>Мастер-приёмщик</th>
                                    <th>Статус заказа</th>
                                    <th>Примечание</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-6 -->
            </div>

            <div class="row">
                <!-- .col-lg-6 -->
                <div class="col-lg-12">
                    <div class="box">
                        <header>
                            <h5>Услуги</h5>
                            <div class="toolbar">
                                <div class="btn-group">
                                    <a href="#sortableTable" data-toggle="collapse"
                                       class="btn btn-default btn-sm minimize-box">
                                        <i class="fa fa-angle-up"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                        </header>
                        <div id="sortableTable" class="body collapse in">
                            <table class="table table-bordered sortableTable responsive-table" id="worksOrderTable">
                                <thead>
                                <tr>
                                    <th>ID<i class="fa sort"></i></th>
                                    <th>Код услуги<i class="fa sort"></i></th>
                                    <th>Услуга<i class="fa sort"></i></th>
                                    <th>Количество<i class="fa sort"></i></th>
                                    <th>Цена<i class="fa sort"></i></th>
                                    <th>Сумма<i class="fa sort"></i></th>
                                    <th>Дата начала<i class="fa sort"></i></th>
                                    <th>Дата окончания<i class="fa sort"></i></th>
                                    <th>Ответственный<i class="fa sort"></i></th>
                                    <th>Исполнитель<i class="fa sort"></i></th>
                                    <th>Статус<i class="fa sort"></i></th>
                                    <th>Код заказа<i class="fa sort"></i></th>
                                </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-6 -->
            </div>
        </div>
        <!-- /.inner -->
    </div>
    <!-- /.outer -->

</div>
<!-- /#content -->
<%- include('layout/layout-footer'); %>

<div id="addOrderModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Добавить заказ</h4>
            </div>
            <form id="addOrderForm" onsubmit="return false">
                <div class="row">
                    <div class="modal-body col-lg-6">
                        <label class="control-label">№ заказа</label>
                        <input class="form-control validate[required]" type="text" name="numberOrder" id="numberOrder"
                               readonly>
                        <label class="control-label">Дата приема заказа</label>
                        <input class="form-control validate[required]" type="text" name="dateReceipt" id="dateReceipt"
                               readonly>
                        <label class="control-label">Время приема заказа</label>
                        <input class="form-control validate[required]" type="time" name="timeReceipt" id="timeReceipt"
                               readonly>
                        <label class="control-label">Дата начала работ</label>
                        <% if (user.post === 'Приёмщик' || user.post === 'Продавец') { %>
                        <input class="form-control validate[required]" type="date" name="dateBegin" readonly value="">
                        <% } else { %>
                        <input class="form-control validate[required]" type="date" name="dateBegin">
                        <% } %>
                        <label class="control-label">Время начала работ</label>
                        <% if (user.post === 'Приёмщик' || user.post === 'Продавец') { %>
                        <input class="form-control validate[required]" type="time" name="timeBegin" readonly value="">
                        <% } else { %>
                        <input class="form-control validate[required]" type="time" name="timeBegin">
                        <% } %>
                        <label class="control-label">Код клиента</label><br>
                        <input class="form-control validate[required]" type="text" name="idClient" id="idClient"
                               value="" readonly>
                        <label class="control-label">Клиент</label><br>
                        <select data-placeholder="Выберите клиента" class="chosen-search" onchange="idclient(this)">
                            <option value=""></option>
                            <% for (var i = 0; i < clients.length; i++) { %>
                            <option value="<%= clients[i].id %>"><%= clients[i].fullName %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class=" modal-body col-lg-6">
                        <label class="control-label">Сумма заказа</label>
                        <input class="form-control validate[required]" type="number" name="orderPrice" id="orderPrice"
                               readonly value=0>
                        <label class="control-label">Всего к оплате</label>
                        <input class="form-control validate[required]" type="number" name="total" id="total" readonly
                               value=0>
                        <% if (user.post = "Мастер"){ %>
                        <label class="control-label">Дата окончания работ</label>
                        <input class="form-control validate[required]" type="date" name="endDate" value="">
                        <label class="control-label">Время окончания работ</label>
                        <input class="form-control validate[required]" type="time" name="endTime" value="">
                        <% } %>
                        <label class="control-label">Сотрудник</label>
                        <input class="form-control validate[required]" type="text" value="<%= user.login %>"
                               name="employee" readonly>
                        <label class="control-label">Статус заказа</label>
                        <select class="form-control" size="1" name="status">
                            <option value="Принят">Принят</option>
                            <option value="В работе">В работе</option>
                            <option value="Выполнен">Выполнен</option>
                        </select><br>
                    </div>
                </div>
            </form>
            <br>
            <div>
                <button>
                    <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                       class="btn btn-primary btn-sm"
                       href="#addJobModal" id="addJobButton" onclick="newWork()">
                        <i class="">Добавить работу</i>
                    </a>
                </button>
                <button>
                    <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                       class="btn btn-info btn-sm"
                       href="#changeJobModal">
                        <i class="">Изменить работу</i>
                    </a>
                </button>
                <button>
                    <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                       class="btn btn-danger btn-sm"
                       href="#deleteJobModal">
                        <i class="">Удалить работу</i>
                    </a>
                </button>
            </div>
            <div class="row">
                <!-- .col-lg-6 -->
                <div class="col-lg-12">
                    <div class="box">
                        <header>
                            <h5>Услуги</h5>
                            <div class="toolbar">
                                <div class="btn-group">
                                    <a href="#sortableTable" data-toggle="collapse"
                                       class="btn btn-default btn-sm minimize-box">
                                        <i class="fa fa-angle-up"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                        </header>
                        <div id="sortableTable" class="body collapse in">
                            <table class="table table-bordered sortableTable responsive-table" id="tableJobOrder">
                                <thead>
                                <tr>
                                    <th>ID<i class="fa sort"></i></th>
                                    <th>Код услуги<i class="fa sort"></i></th>
                                    <th>Услуга<i class="fa sort"></i></th>
                                    <th>Количество<i class="fa sort"></i></th>
                                    <th>Цена<i class="fa sort"></i></th>
                                    <th>Сумма<i class="fa sort"></i></th>
                                    <th>Дата начала<i class="fa sort"></i></th>
                                    <th>Дата окончания<i class="fa sort"></i></th>
                                    <th>Ответственный<i class="fa sort"></i></th>
                                    <th>Исполнитель<i class="fa sort"></i></th>
                                    <th>Статус<i class="fa sort"></i></th>
                                    <th>Код заказа<i class="fa sort"></i></th>
                                    <th>Код клиента<i class="fa sort"></i></th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal"
                        onclick="addOrder(<%= user.id %>)">Добавить
                </button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="changeOrderModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Изменить заказ</h4>
            </div>
            <form name="changeOrderForm" id="changeOrderForm">
                <div class="row">
                    <div class="modal-body col-lg-6">
                        <label class="control-label">№ заказа</label>
                        <select class="form-control" size="1" id="numberOrderList" name="numberOrderList"
                                onchange="informOrder(this)">
                        </select>
                        <label class="control-label">Дата приема заказа</label>
                        <input class="form-control validate[required]" type="text" name="changeDateReceiptOrder"
                               id="changeDateReceiptOrder" readonly>
                        <label class="control-label">Время приема заказа</label>
                        <input class="form-control validate[required]" type="text" name="changeTimeReceiptOrder"
                               id="changeTimeReceiptOrder" readonly>
                        <label class="control-label">Дата начала работ</label>
                        <input class="form-control" type="text" name="changeDateBeginOrder" id="changeDateBeginOrder"
                               readonly>
                        <label class="control-label">Время начала работ</label>
                        <input class="form-control" type="text" name="changeTimeBeginOrder" id="changeTimeBeginOrder"
                               readonly>
                        <label class="control-label">Сумма заказа</label>
                        <input class="form-control validate[required]" type="number" name="changeOrderPrice"
                               id="changeOrderPrice" readonly>
                        <label class="control-label">Стоимость запчастей</label>
                        <input class="form-control validate[required]" type="number" name="changeCostSpareParts"
                               id="changeCostSpareParts" readonly>
                        <label class="control-label">Всего к оплате</label>
                        <input class="form-control" type="number" name="changeTotalOrder" id="changeTotalOrder"
                               readonly>
                    </div>
                    <div class="modal-body col-lg-6">
                        <label class="control-label">Дата окончания работ</label>
                        <input class="form-control" type="text" name="changeDateEndOrder" id="changeDateEndOrder"
                               readonly>
                        <label class="control-label">Время окончания работ</label>
                        <input class="form-control" type="text" id="changeTimeEndOrder" name="changeTimeEndOrder"
                               readonly>
                        <label class="control-label">Мастер-приёмщик</label>
                        <input class="form-control validate[required]" type="text" readonly name="changeEmployeeOrder"
                               id="changeEmployeeOrder">
                        <label class="control-label">Статус заказа</label>
                        <select class="form-control" size="1" name="changeStatusOrder" id="changeStatusOrder"
                                readonly="">
                            <option value="Принят">Принят</option>
                            <option value="Выполнен">Выполнен</option>
                        </select>
                        <label class="control-label">Примечание</label>
                        <input class="form-control" type="text">
                        <label class="control-label">Код клиента</label>
                        <input class="form-control validate[required]" type="number" id="changeIdClientOrder"
                               name="changeIdClientOrder" readonly>
                        <% if (user.post == "Мастер") { %>
                        <button type="button" class="btn btn-primary btn-grad" onclick="startWork()">Начать выполнение работ</button>
                        <br>
                        <% } else { %>
                        <button type="button" class="btn btn-primary btn-grad" onclick="finishWork()">Закончить выполнение работ</button>
                        <% } %>
                    </div>
                </div>
            </form><br>
            <div>
                <button>
                    <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                       class="btn btn-primary btn-sm"
                       href="#addJobModal" id="addJobButton" onclick="newWork()">
                        <i class="">Добавить работу</i>
                    </a>
                </button>
                <button>
                    <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                       class="btn btn-info btn-sm"
                       href="#changeJobModal" onclick="changeOrderListServices()">
                        <i class="">Изменить работу</i>
                    </a>
                </button>
                <button>
                    <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                       class="btn btn-danger btn-sm"
                       href="#deleteJobModal">
                        <i class="">Удалить работу</i>
                    </a>
                </button>
            </div>
            <div class="row">
                <!-- .col-lg-6 -->
                <div class="col-lg-12">
                    <div class="box">
                        <header>
                            <h5>Услуги</h5>
                            <div class="toolbar">
                                <div class="btn-group">
                                    <a href="#sortableTable" data-toggle="collapse"
                                       class="btn btn-default btn-sm minimize-box">
                                        <i class="fa fa-angle-up"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                        </header>
                        <div id="sortableTable" class="body collapse in">
                            <table class="table table-bordered sortableTable responsive-table" id="tableChangeWorksOrder">
                                <thead>
                                <tr>
                                    <th>ID<i class="fa sort"></i></th>
                                    <th>Код услуги<i class="fa sort"></i></th>
                                    <th>Услуга<i class="fa sort"></i></th>
                                    <th>Количество<i class="fa sort"></i></th>
                                    <th>Цена<i class="fa sort"></i></th>
                                    <th>Сумма<i class="fa sort"></i></th>
                                    <th>Дата начала<i class="fa sort"></i></th>
                                    <th>Дата окончания<i class="fa sort"></i></th>
                                    <th>Ответственный<i class="fa sort"></i></th>
                                    <th>Исполнитель<i class="fa sort"></i></th>
                                    <th>Статус<i class="fa sort"></i></th>
                                    <th>Код заказа<i class="fa sort"></i></th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" onclick="changeOrderFunc()" data-dismiss="modal">Изменить</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

<script src="js/ajax/sendJSON.js"></script>
<script src="js/ajax/create_client.js"></script>
<div id="addClientModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Новый клиент</h4>
            </div>
            <form id="addClient">
                <div class="row">
                    <div class="modal-body col-lg-6">
                        <label class="control-label">ФИО клиента</label><br>
                        <input class="form-control validate[required]" type="text" name="fullName"><br>
                        <label class="control-label">Тип клиента</label><br>
                        <select class="form-control" size="1" name="typeClient">
                            <option value="Физ. лицо">Физ. лицо</option>
                            <option value="Юр. лицо">Юр. лицо</option>
                        </select><br>
                        <label class="control-label">Телефон</label><br>
                        <input class="form-control validate[required]" type="text" data-mask="+7 (999) 999-9999"
                               name="phone"><br>
                        <label class="control-label">E-mail</label><br>
                        <input class="validate[custom[email]] form-control" type="text" name="email" id="email"><br>
                        <label class="control-label">Тип ТС</label><br>
                        <select class="form-control" size="1" name="typeCar">
                            <option value="Легковой">Легковой</option>
                            <option value="Кроссовер">Кроссовер</option>
                            <option value="Минивэн">Минивэен</option>
                            <option value="Внедорожник">Внедорожник</option>
                        </select><br>
                        <label class="control-label">Марка ТС</label><br>
                        <input class="form-control" type="" name="brand"><br>
                    </div>
                    <div class="modal-body col-lg-6">
                        <label class="control-label">Модель ТС</label><br>
                        <input class="form-control" type="text" name="model"><br>
                        <label class="control-label">Год выпуска</label><br>
                        <input class="form-control validate[required]" type="number" name="year"><br>
                        <label class="control-label">Гос. номер</label><br>
                        <input class="form-control validate[required]" type="text" data-mask="a999aa 99?9"
                               name="stateNumber"><br>
                        <label class="control-label">VIN/№ кузова</label><br>
                        <input class="form-control validate[required]" type="text" name="VIN"><br>
                        <label class="control-label">Пробег</label><br>
                        <input class="form-control validate[required]" type="number" name="mileage">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal" onclick="addClient()">
                        Добавить
                    </button>
                    <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="ChangeClientModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Изменить данные о клиенте</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-6">
                    <label class="control-label">ID</label><br>
                    <input class="form-control validate[required]" type="number"><br>
                    <label class="control-label">ФИО клиента</label><br>
                    <input class="form-control validate[required]" type="text"><br>
                    <label class="control-label">Тип клиента</label><br>
                    <select class="form-control" size="1">
                        <option value="Физ. лицо">Физ. лицо</option>
                        <option value="Юр. лицо">Юр. лицо</option>
                    </select><br>
                    <label class="control-label">Телефон</label><br>
                    <input class="form-control validate[required]" data-mask="+7 (999) 999-9999" type="tel"><br>
                    <label class="control-label">E-mail</label><br>
                    <input class="form-control validate[required custom[emai]]" type="email"><br>
                    <label class="control-label">Тип ТС</label><br>
                    <select class="form-control" size="1">
                        <option value="Легковой">Легковой</option>
                        <option value="Кроссовер">Кроссовер</option>
                        <option value="Минивэн">Минивэен</option>
                        <option value="Внедорожник">Внедорожник</option>
                    </select><br>
                </div>
                <div class="modal-body col-lg-6">
                    <label class="control-label">Марка ТС</label><br>
                    <input class="form-control" type=""><br>
                    <label class="control-label">Модель ТС</label><br>
                    <input class="form-control" type="text"><br>
                    <label class="control-label">Год выпуска</label><br>
                    <input class="form-control" type="number"><br>
                    <label class="control-label">Гос. номер</label><br>
                    <input class="form-control" type="text"><br>
                    <label class="control-label">VIN/№ кузова</label><br>
                    <input class="form-control" type="text"><br>
                    <label class="control-label">Пробег</label><br>
                    <input class="form-control" type="number">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-grad" data-dismiss="modal">Изменить</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="RequestSQLModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Выполнить SQL-запрос</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <label>SQL</label><br>
                    <textarea style="width: 100%; max-width: 100%" class="form-control" name="sqlRequestText"
                              id="sqlRequestText"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <label>Ответ на запрос</label><br>
                    <textarea style="width: 100%; max-width: 100%" class="form-control" name="responseSql"
                              id="responseSql"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" onclick="sqlRequest()">Выполнить</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="WordTableExportModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Экспорт таблицы в Microsoft Word</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <h4>Параметры</h4>
                    <hr>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, сначала будут напечатаны наименования полей, а уже потом данные">
                        <label>Печатать заголовки полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, в конце документа, после таблицы будут напечаны итоги полей, содержащие итоговые суммы ">
                        <label>Печатать итоги полей</label><br>
                    </div>
                    <hr>
                    <label class="control-label">Заголовок документа:</label><br>
                    <input class="form-control validate[required]" type="text">
                    <hr>
                    <label class="control-label">Поля таблицы "Клиенты":</label><br>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>ID</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>ФИО</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Тип</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Телефон</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>E-mail</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Тип ТС</label><br>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Марка</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Модель</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Год выпуска</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Гос. номер</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>VIN/№ кузова</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Пробег</label><br>
                        </div>
                    </div>
                    <hr>
                    <label>Подчиненные таблицы:</label><br>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox" checked>
                        <label>Заказы</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox" checked>
                        <label>Работы</label><br>
                    </div>
                    <hr>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox" checked>
                        <label>Печатать заголовки полей подчиненных таблиц</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox" checked>
                        <label>Печатать итоги полей подчиненных таблиц</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox" checked>
                        <label>Печатать наименования подчиненных таблиц</label><br>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Экспорт</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="ExelTableExportModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Экспорт таблицы в Microsoft Exel</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <h4>Параметры</h4>
                    <hr>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, сначала будут напечатаны наименования полей, а уже потом данные">
                        <label>Печатать заголовки полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input type="checkbox"
                               title="Если данная галочка отмечена, в конце документа, после таблицы будут напечаны итоги полей, содержащие итоговые суммы ">
                        <label>Печатать итоги полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input type="checkbox">
                        <label>Печатать сетку</label>
                    </div>
                    <hr>
                    <label class="control-label">Заголовок документа:</label><br>
                    <input class="form-control validate[required]" type="text"><br>
                    <hr>
                    <label class="control-label">Поля таблицы "Клиенты":</label><br>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label class="control-label">ID</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label class="control-label">ФИО</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label class="control-label">Тип</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label class="control-label">Телефон</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label class="control-label">E-mail</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label class="control-label">Тип ТС</label><br>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label class="control-label">Марка</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label class="control-label">Модель</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label class="control-label">Год выпуска</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label class="control-label">Гос. номер</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label class="control-label">VIN/№ кузов</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label class="control-label">Пробег</label><br>
                        </div>
                    </div>
                    <hr>
                    <label>Подчиненные таблицы:</label><br>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox" checked>
                        <label class="control-label">Заказы</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox" checked>
                        <label class="control-label">Работы</label><br>
                    </div>
                    <hr>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox" checked>
                        <label>Печатать заголовки полей подчиненных таблиц</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox" checked>
                        <label>Печатать итоги полей подчиненных таблиц</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox" checked>
                        <label>Печатать наименования подчиненных таблиц</label><br>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Экспорт</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="HTMLTableExportModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Экспорт таблицы в HTML</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <h4>Параметры</h4>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, сначала будут напечатаны наименования полей, а уже потом данные">
                        <label>Печатать заголовки полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, в конце документа, после таблицы будут напечаны итоги полей, содержащие итоговые суммы ">
                        <label>Печатать итоги полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Для каждой записис будет сгененрирован один общий файл">
                        <label>Печатать все записи в одном файле</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Экспорт</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="ChartModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">График</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Экспорт в EXEL</button>
                <button type="button" class="btn btn-info btn-grad" data-dismiss="modal">Печатать</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="addJobModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Новая работа</h4>
            </div>
            <form id="addJobOrder" onsubmit="return false"
                  oninput="amountServiceJob.value=(priceServiceJob.value*quantityServiceJob.value)">
                <div class="row">
                    <div class="modal-body col-lg-6">
                        <label class="control-label">Код услуги</label><br>
                        <input class="form-control validate[required]" type="text" name="serviceCodeJob"
                               id="serviceCodeJob" readonly>
                        <label class="control-label">Услуга</label>
                        <select data-placeholder="Выберите услугу" class="chosen-search" name="serviceJob"
                                id="serviceJob" onchange="ajaxServiceId(this.value)">
                            <option value="" disabled></option>
                        </select>
                        <label class="control-label">Цена</label>
                        <input class="form-control validate[required]" type="number" name="priceServiceJob"
                               id="priceServiceJob" readonly>
                        <label class="control-label">Количество</label>
                        <input class="form-control validate[required]" type="number" name="quantityServiceJob"
                               id="quantityServiceJob">
                        <label class="control-label">Сумма</label><br>
                        <input class="form-control validate[required]" type="number" name="amountServiceJob"
                               id="amountServiceJob"></input>
                        <label class="control-label">Дата начала</label><br>
                        <input class="form-control validate[required]" type="text" name="dateBeginJob" id="dateBeginJob"
                               readonly>
                        <label class="control-label">Дата окончания</label>
                        <input class="form-control validate[required]" type="date" name="dateExpJob"
                               id="dateExpJob"><br>
                    </div>
                    <div class=" modal-body col-lg-6">
                        <label class="control-label">Статус</label>
                        <select class="form-control" size="1" name="statusJob" id="statusJob">
                            <option value="Выполняется">Выполняется</option>
                            <option value="Выполнено">Выполнено</option>
                        </select>
                        <label class="control-label">Исполнитель</label><br>
                        <select data-placeholder="Выберите исполнителя" name="executorJob" id="executorJob">
                            <option value=""></option>

                        </select><br>
                        <label class="control-label">Ответственный</label>
                        <input class="form-control validate[required]" type="text" name="responsibleJob"
                               id="responsibleJob" value="<%= user.login %>" readonly>
                        <label class="control-label">Заметки</label>
                        <textarea style="width: 100%; max-width: 100%" name="notesJob" id="notesJob"></textarea>
                        <label class="control-label">Код клиента</label>
                        <input class="form-control validate[required]" type="number" name="codeClientJob"
                               id="codeClientJob" readonly>
                        <label class="control-label">Код заказа</label>
                        <input class="form-control validate[required]" type="text" name="codeOrderJob" id="codeOrderJob"
                               readonly>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal" onclick="addJobOrder()">
                    Добавить
                </button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="changeJobModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Изменить информацию о работе</h4>
            </div>
            <form onsubmit="return false"
                  oninput="changeWorkAmountService.value=(changeWorkPriceService.value*changeWorkQuantityService.value)" id="changeWorkForm" name="changeWorkForm">
                <div class="row">
                    <div class="modal-body col-lg-6">
                        <label class="control-label">Код услуги</label><br>
                        <input class="form-control validate[required]" type="number" name="changeWorkServiceCode" id="changeWorkServiceCode" readonly>
                        <label class="control-label">Услуга</label>
                        <select class="form-control" size="1" id="changeWorkNameService" name="changeWorkNameService"
                                onchange="changeWorkInform(this)">

                        </select>
                        <label class="control-label">Цена</label>
                        <input class="form-control validate[required]" type="number" name="changeWorkPriceService" id="changeWorkPriceService" readonly>
                        <label class="control-label">Количество</label>
                        <input class="form-control validate[required]" type="number" name="changeWorkQuantityService" id="changeWorkQuantityService">
                        <label class="control-label">Сумма</label><br>
                        <input class="form-control validate[required]"  name="changeWorkAmountService" id="changeWorkAmountService" readonly></input>
                        <label class="control-label">Дата начала</label><br>
                        <input class="form-control validate[required]" type="text" name="changeWorkDateBeginService" id="changeWorkDateBeginService">
                        <label class="control-label">Дата окончания</label>
                        <input class="form-control validate[required]" type="text" name="changeWorkDateEndService" id="changeWorkDateEndService"><br>
                    </div>
                    <div class=" modal-body col-lg-6">
                        <label class="control-label">Статус</label>
                        <select class="form-control" size="1" name="changeWorkStatusService" id="changeWorkStatusService">
                            <option value="Выполняется">Выполняется</option>
                            <option value="Выполнено">Выполнено</option>
                        </select>
                        <label class="control-label">Исполнитель</label>
                        <select class="form-control" size="1" name="changeWorkExecutorService" id="changeWorkExecutorService">
                            <option></option>
                        </select>
                        <label class="control-label">Ответственный</label>
                        <input class="form-control validate[required]" type="text" name="changeWorkResponsibleService" id="changeWorkResponsibleService"
                               value="<%= user.login %>" readonly>
                        <label class="control-label">Заметки</label>
                        <textarea style="width: 100%; max-width: 100%" name="changeWorkNotesService" id="changeWorkNotesService"></textarea>
                        <label class="control-label">Код клиента</label>
                        <input class="form-control validate[required]" type="number" name="changeWorkCodeClient" id="changeWorkCodeClient" readonly>
                        <label class="control-label">Код заказа</label>
                        <input class="form-control validate[required]" type="text" name="changeWorkCodeOrder" id="changeWorkCodeOrder" readonly>
                        <label>ID Работы</label>
                        <input class="form-control" type="number" id="changeWorkId" name="changeWorkId" readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal" onclick="changeWork()">Изменить</button>
                    <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="clientInformation" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Информация о клиенте</h4>
            </div>
            <form id="informClientForm">
                <div class="row">
                    <div class="modal-body col-lg-4 col-xs-4 col-md-4">
                        <label class="control-label ">ID</label><br>
                        <label class="control-label">ФИО клиента</label><br><br>
                        <label class="control-label">Тип</label><br>
                        <label class="control-label">Телефон</label><br>
                        <label class="control-label">E-mail</label>
                    </div>
                    <div class="modal-body col-lg-8 col-xs-8 col-md-8">
                        <input class="form-control " type="number" name="idCI" id="idCI" readonly>
                        <input class="form-control validate[required]" type="text" name="fullNameCI" id="fullNameCI"
                               readonly>
                        <select class="form-control" size="1" name="typeClientCI" id="typeClientCI" readonly>
                            <option value="Физ. лицо">Физ. лицо</option>
                            <option value="Юр. лицо">Юр. лицо</option>
                        </select>
                        <input class="form-control validate[required]" type="text" name="phoneCI" id="phoneCI" readonly>
                        <input class="form-control validate[required]" type="text" name="emailCI" id="emailCI" readonly>
                    </div>
                </div>
                <div class="modal-body">
                    <br>
                    <button type="button" class="btn btn-primary btn-grad" id="addCarButton"
                            onclick="$('#addCarClient').modal('show')" disabled>Добавить автомобиль
                    </button>
                </div>
                <div class="col-lg-12">
                    <div class="box">
                        <header>
                            <h5>Автомобили</h5>
                            <div class="toolbar">
                                <div class="btn-group">
                                    <a href="#sortableTable" data-toggle="collapse"
                                       class="btn btn-default btn-sm minimize-box">
                                        <i class="fa fa-angle-up"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                        </header>
                        <div id="sortableTable" class="body collapse in">
                            <table class="table table-bordered sortableTable responsive-table" id="tableCarClient">
                                <thead>
                                <tr>
                                    <th>№<i class="fa sort"></i></th>
                                    <th>Марка<i class="fa sort"></i></th>
                                    <th>Модель<i class="fa sort"></i></th>
                                    <th>Тип<i class="fa sort"></i></th>
                                    <th>Год выпуска<i class="fa sort"></i></th>
                                    <th>VIN<i class="fa sort"></i></th>
                                    <th>Гос. номер<i class="fa sort"></i></th>
                                    <th>Пробег<i class="fa sort"></i></th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-grad" id="saveClientButton"
                            onclick="updateClient()" disabled>Сохранить
                    </button>
                    <button type="button" class="btn btn-primary btn-grad" onclick="delatr()">Изменить</button>
                    <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="addCarClient" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Новый автомобиль клиента</h4>
            </div>
            <form id="addCar" class="form-horizontal">
                <div class="row">
                    <div class="modal-body col-lg-12">
                        <div class="form-group">
                            <label class="control-label col-lg-4">Марка</label>
                            <div class="col-lg-8">
                                <input class="form-control validate[required]" type="text" name="brandCar">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4">Модель</label>
                            <div class="col-lg-8">
                                <input class="form-control validate[required]" type="text" name="modelCar">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4">Тип ТС</label>
                            <div class="col-lg-8">
                                <select class="form-control" size="1" name="typeCar">
                                    <option value="Легковой">Легковой</option>
                                    <option value="Кроссовер">Кроссовер</option>
                                    <option value="Минивэн">Минивэен</option>
                                    <option value="Внедорожник">Внедорожник</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4">Год выпуска</label>
                            <div class="col-lg-8">
                                <input class="form-control validate[required]" type="number" name="yearCar">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4">VIN</label>
                            <div class="col-lg-8">
                                <input class="form-control validate[required]" type="text" name="VINCar">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4">Гос. номер</label>
                            <div class="col-lg-8">
                                <input class="form-control validate[required]" type="text" data-mask="a999aa 99?9"
                                       name="stateNumberCar">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4">Пробег</label>
                            <div class="col-lg-8">
                                <input class="form-control validate[required]" type="number" name="mileageCar">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-grad" onclick="addCar()">Добавить</button>
                    <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.modal -->
<!-- /#helpModal -->
<!--jQuery -->

<%- include('layout/layout-scripts'); %>

<script src="/js/scripts/clients.js"></script>
<script src="/js/ajax/create_order.js"></script>
<script src="/js/ajax/ordersList.js"></script>
<script src="/js/ajax/informOrder.js"></script>
<script src="/js/ajax/workOrderList.js"></script>
<script src="/js/scripts/dateOrder.js"></script>
<script src="/js/ajax/changeOrder.js"></script>
<script src="/js/ajax/getLists.js"></script>
<script>
    $(function () {
        Metis.MetisTable();
        Metis.metisSortable();
    });
</script>

<script src="/js/style-switcher.js"></script>
</body>

</html>
