<%- include('layout/layout', {title: 'Договоры'});%>

<div id="content">
    <div class="outer">
        <div class="inner bg-light lter">
            &nbsp;<div>
                <ul id="css3menu3" class="topmenu" style="">
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#addContractModal" title="Новый договор">
                            <img src="/img/icon/add.png" alt="Новый договор">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#changeContractModal"
                           title="Изменить данные о договоре">
                            <img src="/img/icon/edit.png" alt="Изменить данные о договоре">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a href="#" title="Удалить договор">
                            <img src="/img/icon/delete.png"
                                 alt="Удалить договор">
                        </a>
                    </li>
                    <li class="topmenu"><a href="#" title="Очистить таблицу"><img src="/img/icon/delete_table.png"
                                                                                  alt="Очистить таблицу"></a></li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#RequestSQLModal" title="SQL">
                            <img src="/img/icon/sql.png" alt="SQL">
                        </a>
                    </li>
                    <li class="topmenu"><a href="#" title="Печать"><img src="/img/icon/print.png" alt="Печать"></a>
                    </li>
                    <li class="topmenu"><a href="#" title="Предварительный просмотр"><img
                                    src="/img/icon/old_edit_find.png" alt="Предварительный просмотр"></a></li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#WordTableExportModal"
                           title="Экспорт таблицы в Word">
                            <img src="/img/icon/word.png" alt="Экспорт таблицы в Word">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#ExelTableExportModal"
                           title="Экспорт таблицы в Exel">
                            <img src="/img/icon/exel.png" alt="Экспорт таблицы в Exel">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#HTMLTableExportModal"
                           title="Экспорт таблицы в HTML">
                            <img src="/img/icon/html.png" alt="Экспорт таблицы в HTML">
                        </a>
                    </li>
                    <li class="topmenu"><a href="#" title="Экспорт таблицы в TXT"><img src="/img/icon/txt.png"
                                                                                       alt="Экспорт таблицы в TXT"></a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#ChartModal" title="График">
                            <img src="/img/icon/blocks-grafics.png" alt="График">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <header>
                            <div class="icons"><i class="fa fa-table"></i></div>
                            <h5>Список договоров с клиентами</h5>
                        </header>
                        <div id="collapse4" class="body">
                            <table id="dataTable"
                                   class="table table-bordered table-condensed table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Тип договора</th>
                                    <th>№ договора</th>
                                    <th>Дата договора</th>
                                    <th>Статус</th>
                                    <th>Сумма договора</th>
                                    <th>Код клиента</th>
                                    <th>Клиент</th>
                                    <th>Сотрудник</th>
                                    <th>Скидка</th>
                                    <th>Ссылка на договор</th>
                                    <th>Дата начала</th>
                                    <th>Исполнитель</th>
                                    <th>Код сделки</th>
                                    <th>Заметки</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.inner -->
    </div>
    <!-- /.outer -->
</div>

<%- include('layout/layout-footer');%>

<div id="addContractModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Новый договор</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-6">
                    <label class="control-label">ID</label>
                    <input class="form-control validate[required]" type="number" min="1">
                    <label class="control-label">Тип договора</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Номер договора</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Дата договора</label>
                    <input class="form-control validate[required]" type="date">
                    <label class="control-label">Статус</label>
                    <select class="form-control" size="1">
                        <option value="Активен">Активен</option>
                        <option value="В отключении">В отключении</option>
                        <option value="Отключен">Отключен</option>
                        <option value="Закрыт">Закрыт</option>
                        <option value="Приостановлен">Приостановлен</option>
                        <option value="В подключении">В подключении</option>
                    </select>
                    <label class="control-label">Сумма договора</label>
                    <input class="form-control validate[required]" type="number" min="0">
                    <label class="control-label">Код клиента</label>
                    <input class="form-control validate[required]" type="number" min="1">
                    <label class="control-label">Клиент</label>
                    <input class="form-control validate[required]" type="text" >
                    <!--<label class="control-label">Сопутствующие материалы</label>-->
                    <!--<div class="fileinput fileinput-new" data-provides="fileinput">-->
			            <!--<span class="btn btn-default btn-file">-->
				            <!--<span class="fileinput-new">Select file</span>-->
				            <!--<span class="fileinput-exists">Change</span>-->
				            <!--<input type="file" name="...">-->
			            <!--</span>-->
                        <!--<span class="fileinput-filename"></span>-->
                        <!--<a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>-->
                    <!--</div><br>-->
                </div>
                <div class="modal-body col-lg-6">
                    <label class="control-label">Сотрудник</label>
                    <input class="form-control validate[required]" type="text" value="<%=user.login%>" >
                    <label class="control-label">Скидка</label>
                    <input class="form-control validate[required]" type="number" min="0">
                    <label class="control-label">Ссылка на договор</label><br>
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn btn-default btn-file">
                    <span class="fileinput-new">Select file</span>
                    <span class="fileinput-exists">Change</span>
                    <input type="file" name="...">
                    </span>
                    <span class="fileinput-filename"></span>
                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                    </div><br>
                    <label class="control-label">Дата начала</label>
                    <input class="form-control validate[required]" type="date">
                    <label class="control-label">Исполнитель</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Код сделки</label>
                    <input class="form-control validate[required]" type="number" min="1">
                    <label class="control-label">Заметки</label>
                    <input class="form-control validate[required]" type="text" >

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Добавить</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="changeContractModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Изменение данных о договоре</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-6">
                    <label class="control-label">ID</label>
                    <input class="form-control validate[required]" type="number" min="1">
                    <label class="control-label">Тип договора</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Номер договора</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Дата договора</label>
                    <input class="form-control validate[required]" type="date">
                    <label class="control-label">Статус</label>
                    <select class="form-control" size="1">
                        <option value="Активен">Активен</option>
                        <option value="В отключении">В отключении</option>
                        <option value="Отключен">Отключен</option>
                        <option value="Закрыт">Закрыт</option>
                        <option value="Приостановлен">Приостановлен</option>
                        <option value="В подключении">В подключении</option>
                    </select>
                    <label class="control-label">Сумма договора</label>
                    <input class="form-control validate[required]" type="number" min="0">
                    <label class="control-label">Код клиента</label>
                    <input class="form-control validate[required]" type="number" min="1">
                    <label class="control-label">Клиент</label>
                    <input class="form-control validate[required]" type="text" >
                    <!--<label class="control-label">Сопутствующие материалы</label>-->
                    <!--<div class="fileinput fileinput-new" data-provides="fileinput">-->
                    <!--<span class="btn btn-default btn-file">-->
                    <!--<span class="fileinput-new">Select file</span>-->
                    <!--<span class="fileinput-exists">Change</span>-->
                    <!--<input type="file" name="...">-->
                    <!--</span>-->
                    <!--<span class="fileinput-filename"></span>-->
                    <!--<a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>-->
                    <!--</div><br>-->
                </div>
                <div class="modal-body col-lg-6">
                    <label class="control-label">Сотрудник</label>
                    <input class="form-control validate[required]" type="text" value="<%=user.login%>" >
                    <label class="control-label">Скидка</label>
                    <input class="form-control validate[required]" type="number" min="0">
                    <label class="control-label">Ссылка на договор</label><br>
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn btn-default btn-file">
                    <span class="fileinput-new">Select file</span>
                    <span class="fileinput-exists">Change</span>
                    <input type="file" name="...">
                    </span>
                        <span class="fileinput-filename"></span>
                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                    </div><br>
                    <label class="control-label">Дата начала</label>
                    <input class="form-control validate[required]" type="date">
                    <label class="control-label">Исполнитель</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Код сделки</label>
                    <input class="form-control validate[required]" type="number" min="1">
                    <label class="control-label">Заметки</label>
                    <input class="form-control validate[required]" type="text" >

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-grad" data-dismiss="modal">Изменить</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="RequestSQLModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Выполнить SQL-запрос</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <label>SQL</label><br>
                    <textarea style="width: 100%; max-width: 100%" class="form-control" name="sqlRequestText" id="sqlRequestText"></textarea>

                </div>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <label>Ответ на запрос</label><br>
                    <textarea style="width: 100%; max-width: 100%" class="form-control" name="responseSql" id="responseSql"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" onclick="sqlRequest()">Выполнить</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="WordTableExportModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Экспорт таблицы в Microsoft Word</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <h4>Параметры</h4>
                    <hr>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, сначала будут напечатаны наименования полей, а уже потом данные">
                        <label>Печатать заголовки полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, в конце документа, после таблицы будут напечаны итоги полей, содержащие итоговые суммы ">
                        <label>Печатать итоги полей</label><br>
                    </div>
                    <hr>
                    <label class="control-label">Заголовок документа:</label><br>
                    <input class="form-control validate[required]" type="text" style="width: 100%">
                    <hr>
                    <label class="control-label">Поля таблицы "Договоры":</label><br>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>ID</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Тип договора</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>№ договора</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Дата договора</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Статус</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Сумма договора</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Код клиента</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Клиент</label><br>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Сотрудник</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Скидка</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Ссылка на договор</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Дата начала</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Исполнитель</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Код сделки</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Заметки</label><br>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Экспорт</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="ExelTableExportModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Экспорт таблицы в Microsoft Exel</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <h4>Параметры</h4>
                    <hr>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, сначала будут напечатаны наименования полей, а уже потом данные">
                        <label>Печатать заголовки полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input type="checkbox"
                               title="Если данная галочка отмечена, в конце документа, после таблицы будут напечаны итоги полей, содержащие итоговые суммы ">
                        <label>Печатать итоги полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input type="checkbox">
                        <label>Печатать сетку</label>
                    </div>
                    <hr>
                    <label class="control-label">Заголовок документа:</label><br>
                    <input class="form-control validate[required]" type="text" style="width: 100%"><br>
                    <hr>
                    <label class="control-label">Поля таблицы "Договоры":</label><br>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>ID</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Тип договора</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>№ договора</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Дата договора</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Статус</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Сумма договора</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Код клиента</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Клиент</label><br>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Сотрудник</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Скидка</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Ссылка на договор</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Дата начала</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Исполнитель</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Код сделки</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Заметки</label><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Экспорт</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="HTMLTableExportModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Экспорт таблицы в HTML</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <h4>Параметры</h4>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, сначала будут напечатаны наименования полей, а уже потом данные">
                        <label>Печатать заголовки полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, в конце документа, после таблицы будут напечаны итоги полей, содержащие итоговые суммы ">
                        <label>Печатать итоги полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Для каждой записис будет сгененрирован один общий файл">
                        <label>Печатать все записи в одном файле</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Экспорт</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="ChartModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">График</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Экспорт в EXEL</button>
                <button type="button" class="btn btn-info btn-grad" data-dismiss="modal">Печатать</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<%- include('layout/layout-scripts');%>

<script>
    $(document).ready(function () {
        $("#addContractModal").validationEngine();
        $("#changeContractModal").validationEngine();
        $("#RequestSQLModal").validationEngine();
        $("#WordTableExportModal").validationEngine();
        $("#ExelTableExportModal").validationEngine();
        $("#HTMLTableExportModal").validationEngine();
    });
</script>

<script>
    $(function () {
        Metis.MetisTable();
        Metis.metisSortable();
    });
</script>