<%- include('layout/layout', {title: 'История изменеий'});%>

<div id="content">
    <div class="outer">
        <div class="inner bg-light lter">
            &nbsp;<div>
                <ul id="css3menu3" class="topmenu" style="">
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#addChangesModal" title="Новое изменение">
                            <img src="/img/icon/add.png" alt="Новое изменение">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#changeChangesModal"
                           title="Изменить изменение">
                            <img src="/img/icon/edit.png" alt="Изменить изменение">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a href="#" title="Удалить изменение">
                            <img src="/img/icon/delete.png"
                                 alt="Удалить изменение">
                        </a>
                    </li>
                    <li class="topmenu"><a href="#" title="Очистить таблицу"><img src="/img/icon/delete_table.png"
                                                                                  alt="Очистить таблицу"></a></li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#RequestSQLModal" title="SQL">
                            <img src="/img/icon/sql.png" alt="SQL">
                        </a>
                    </li>
                    <li class="topmenu"><a href="#" title="Печать"><img src="/img/icon/print.png" alt="Печать"></a>
                    </li>
                    <li class="topmenu"><a href="#" title="Предварительный просмотр"><img
                                    src="/img/icon/old_edit_find.png" alt="Предварительный просмотр"></a></li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#WordTableExportModal"
                           title="Экспорт таблицы в Word">
                            <img src="/img/icon/word.png" alt="Экспорт таблицы в Word">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#ExelTableExportModal"
                           title="Экспорт таблицы в Exel">
                            <img src="/img/icon/exel.png" alt="Экспорт таблицы в Exel">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#HTMLTableExportModal"
                           title="Экспорт таблицы в HTML">
                            <img src="/img/icon/html.png" alt="Экспорт таблицы в HTML">
                        </a>
                    </li>
                    <li class="topmenu"><a href="#" title="Экспорт таблицы в TXT"><img src="/img/icon/txt.png"
                                                                                       alt="Экспорт таблицы в TXT"></a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#ChartModal" title="График">
                            <img src="/img/icon/blocks-grafics.png" alt="График">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <header>
                            <div class="icons"><i class="fa fa-table"></i></div>
                            <h5>Таблица с историей изменений</h5>
                        </header>
                        <div id="collapse4" class="body">
                            <table id="dataTable"
                                   class="table table-bordered table-condensed table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Время изменения</th>
                                    <th>Таблица</th>
                                    <th>Поле</th>
                                    <th>Старое значение</th>
                                    <th>Новое значение</th>
                                    <th>Значение ключегого поля</th>
                                    <th>Код пользователя</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.inner -->
    </div>
    <!-- /.outer -->
</div>

<%- include('layout/layout-footer');%>

<div id="addChangesModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Новое изменение</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-6">
                    <label class="control-label">ID</label>
                    <input class="form-control validate[required]" type="number" min="1">
                    <label class="control-label">Время изменения</label>
                    <input class="form-control validate[required]" type="datetime">
                    <label class="control-label">Таблица</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Поле</label>
                    <input class="form-control validate[required]" type="text">
                    <br>
                </div>
                <div class="col-lg-6 modal-body">
                    <label class="control-label">Старое значение</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Новое значение</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Значение ключегого поля</label>
                    <input class="form-control validate[required]" type="datetime">
                    <label class="control-label">Код пользователя</label>
                    <input class="form-control validate[required]" type="number" value="<%=user.id%>">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Добавить</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="changeChangesModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Изменение изменения</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-6">
                    <label class="control-label">ID</label>
                    <input class="form-control validate[required]" type="number" min="1">
                    <label class="control-label">Время изменения</label>
                    <input class="form-control validate[required]" type="datetime">
                    <label class="control-label">Таблица</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Поле</label>
                    <input class="form-control validate[required]" type="text">
                    <br>
                </div>
                <div class="col-lg-6 modal-body">
                    <label class="control-label">Старое значение</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Новое значение</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Значение ключегого поля</label>
                    <input class="form-control validate[required]" type="datetime">
                    <label class="control-label">Код пользователя</label>
                    <input class="form-control validate[required]" type="number" value="<%=user.id%>">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-grad" data-dismiss="modal">Изменить</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

<div id="RequestSQLModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Выполнить SQL-запрос</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <label>SQL</label><br>
                    <textarea style="width: 100%; max-width: 100%" class="form-control" name="sqlRequestText" id="sqlRequestText"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <label>Ответ на запрос</label><br>
                    <textarea style="width: 100%; max-width: 100%" class="form-control" name="responseSql" id="responseSql"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" onclick="sqlRequest()">Выполнить</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="WordTableExportModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Экспорт таблицы в Microsoft Word</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <h4>Параметры</h4>
                    <hr>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, сначала будут напечатаны наименования полей, а уже потом данные">
                        <label>Печатать заголовки полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, в конце документа, после таблицы будут напечаны итоги полей, содержащие итоговые суммы ">
                        <label>Печатать итоги полей</label><br>
                    </div>
                    <hr>
                    <label class="control-label">Заголовок документа:</label><br>
                    <input class="form-control validate[required]" type="text" style="width: 100%">
                    <hr>
                    <label class="control-label">Поля таблицы "История изменений":</label><br>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>ID</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Время изменения</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Таблица</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Поле</label><br>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Старое значение</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Новое значение</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Значение ключегого поля</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Код пользователя</label><br>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Экспорт</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="ExelTableExportModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Экспорт таблицы в Microsoft Exel</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <h4>Параметры</h4>
                    <hr>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, сначала будут напечатаны наименования полей, а уже потом данные">
                        <label>Печатать заголовки полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input type="checkbox"
                               title="Если данная галочка отмечена, в конце документа, после таблицы будут напечаны итоги полей, содержащие итоговые суммы ">
                        <label>Печатать итоги полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input type="checkbox">
                        <label>Печатать сетку</label>
                    </div>
                    <hr>
                    <label class="control-label">Заголовок документа:</label><br>
                    <input class="form-control validate[required]" type="text" style="width: 100%"><br>
                    <hr>
                    <label class="control-label">Поля таблицы "История измений":</label><br>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>ID</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Время изменения</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Таблица</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Поле</label><br>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Старое значение</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Новое значение</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Значение ключегого поля</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Код пользователя</label><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Экспорт</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="HTMLTableExportModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 50%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Экспорт таблицы в HTML</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <h4>Параметры</h4>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, сначала будут напечатаны наименования полей, а уже потом данные">
                        <label>Печатать заголовки полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, в конце документа, после таблицы будут напечаны итоги полей, содержащие итоговые суммы ">
                        <label>Печатать итоги полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Для каждой записис будет сгененрирован один общий файл">
                        <label>Печатать все записи в одном файле</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Экспорт</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="ChartModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">График</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Экспорт в EXEL</button>
                <button type="button" class="btn btn-info btn-grad" data-dismiss="modal">Печатать</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<%- include('layout/layout-scripts');%>

<script>
    $(document).ready(function () {
        $("#addChangesModal").validationEngine();
        $("#changeChangesModal").validationEngine();
        $("#RequestSQLModal").validationEngine();
        $("#WordTableExportModal").validationEngine();
        $("#ExelTableExportModal").validationEngine();
        $("#HTMLTableExportModal").validationEngine();
    });
</script>

<script>
    $(function () {
        Metis.MetisTable();
        Metis.metisSortable();
    });
</script>