<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <!--IE Compatibility modes-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Mobile first-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Авторизация</title>

    <meta name="description" content="AUTODRIVE ADMIN">
    <meta name="author" content="Reallydex">

    <meta name="msapplication-TileColor" content="#5bc0de" />
    <meta name="msapplication-TileImage" content="assets/img/metis-tile.png" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">

    <!-- jasny-bootstrap stylesheer -->
    <link rel="stylesheet" href="/lib/jasny-bootstrap/css/jasny-bootstrap.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">

    <!-- Metis core stylesheet -->
    <link rel="stylesheet" href="css/main.css">

    <!-- metisMenu stylesheet -->
    <link rel="stylesheet" href="lib/metismenu/metisMenu.css">

    <!-- onoffcanvas stylesheet -->
    <link rel="stylesheet" href="lib/onoffcanvas/onoffcanvas.css">

    <!-- animate.css stylesheet -->
    <link rel="stylesheet" href="lib/animate.css/animate.css">

    <link rel="stylesheet" href="/lib/jquery-validation-engine/validationEngine.jquery.css" type="text/css"/>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="login">

<div class="form-signin">
    <div class="text-center">
        <img src="img/logo.png" alt="AutoDrive Logo">
    </div>
    <div class="tab-content">
        <div id="login" class="tab-pane active">
            <form action="/login" method="post">
                <p class="text-muted text-center">
                    Введите имя пользователя и пароль
                </p>
                <input type="text" placeholder="Логин" class="form-control top" name="login">
                <input type="password" placeholder="Пароль" class="form-control bottom" name="password">

                <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
            </form>
        </div>
        <div id="forgot" class="tab-pane">
            <form action="index.html">
                <p class="text-muted text-center">Введите свой e-mail</p>
                <input type="email" placeholder="mail@domain.com" class="form-control">
                <br>
                <button class="btn btn-lg btn-danger btn-block" type="submit">Востановить пароль</button>
            </form>
        </div>
        <div id="signup" class="tab-pane">
            <form action="/signup" method="post">
                <input type="text" placeholder="Фамилия" class="form-control top validate[required]" name="last_name">
                <input type="text" placeholder="Имя" class="form-control top validate[required]" name="first_name">
                <input type="text" placeholder="Отчество" class="form-control top validate[required]" name="middle_name">
                <select size="1" class="form-control top validate[required]" name="post">
                    <option value="Приёмщик">Приёмщик</option>
                    <option value="Продавец">Продавец</option>
                    <option value="Мастер">Мастер</option>
                </select>
                <input type="text" placeholder="Логин" class="form-control top validate[required]" name="login">
                <input type="email" placeholder="E-mail" class="form-control middle validate[custom[email], required]" name="email" >
                <input type="tel" placeholder="Телефон" class="form-control middle validate[required]" name="phone" data-mask="+7 (999) 999-9999" >
                <input type="password" placeholder="Пароль" class="form-control middle validate[required]" name="password" >
                <input type="password" placeholder="Повторите пароль" class="form-control bottom validate[required]">
                <button class="btn btn-lg btn-success btn-block" type="submit">Регистрация</button>
            </form>
        </div>
    </div>
    <div class="text-center">
        <ul class="list-inline">
            <li><a class="text-muted" href="#login" data-toggle="tab">Логин</a></li>
            <li><a class="text-muted" href="#forgot" data-toggle="tab">Забыли пароль?</a></li>
            <li><a class="text-muted" href="#signup" data-toggle="tab">Регистрация</a></li>
        </ul>
    </div>
</div>


<!--jQuery -->
<script src="lib/jquery/jquery.js"></script>

<!--Bootstrap -->
<script src="lib/bootstrap/js/bootstrap.js"></script>
<script src="/lib/jasny-bootstrap/js/jasny-bootstrap.js"></script>

<script src="/lib/jquery-validation-engine/jquery.validationEngine-ru.js" type="text/javascript" charset="utf-8"></script>
<script src="/lib/jquery-validation-engine/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>

<script>
    $(document).ready(function () {
        $("#signup").validationEngine();
    });
</script>


<script type="text/javascript">
    (function($) {
        $(document).ready(function() {
            $('.list-inline li > a').click(function() {
                var activeForm = $(this).attr('href') + ' > form';
                //console.log(activeForm);
                $(activeForm).addClass('animated fadeIn');
                //set timer to 1 seconds, after that, unload the animate animation
                setTimeout(function() {
                    $(activeForm).removeClass('animated fadeIn');
                }, 1000);
            });
        });
    })(jQuery);
</script>
</body>

</html>
