<%- include('layout/layout', {title: 'Расписание'}); %>
<div id="content">
    <div class="outer">
        <div class="inner bg-light lter">
            &nbsp;<div>
                <ul id="css3menu3" class="topmenu" style="">
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#addOrderModal" title="Новый заказ">
                            <img src="/img/icon/add.png" alt="Новая заказ">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#changeOrderModal"
                           title="Изменить данные о заказе">
                            <img src="/img/icon/edit.png" alt="Изменить данные о заказе">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a href="#" title="Удалить заказ">
                            <img src="/img/icon/delete.png"
                                 alt="Удалить заказ">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a href="#" title="Очистить таблицу">
                            <img src="/img/icon/delete_table.png" alt="Очистить таблицу">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#RequestSQLModal" title="SQL">
                            <img src="/img/icon/sql.png" alt="SQL">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a href="#" title="Печать">
                            <img src="/img/icon/print.png" alt="Печать">
                        </a>
                    </li>
                    <li class="topmenu"><a href="#" title="Предварительный просмотр"><img
                                    src="/img/icon/old_edit_find.png" alt="Предварительный просмотр"></a></li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#WordTableExportModal"
                           title="Экспорт таблицы в Word">
                            <img src="/img/icon/word.png" alt="Экспорт таблицы в Word">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#ExelTableExportModal"
                           title="Экспорт таблицы в Exel">
                            <img src="/img/icon/exel.png" alt="Экспорт таблицы в Exel">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#HTMLTableExportModal"
                           title="Экспорт таблицы в HTML">
                            <img src="/img/icon/html.png" alt="Экспорт таблицы в HTML">
                        </a>
                    </li>
                    <li class="topmenu"><a href="#" title="Экспорт таблицы в TXT"><img src="/img/icon/txt.png"
                                                                                       alt="Экспорт таблицы в TXT"></a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#ChartModal" title="График">
                            <img src="/img/icon/blocks-grafics.png" alt="График">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a href="#" title="Наряд-заказ">
                            <img src="/img/icon/doc.png" alt="Наряд-заказ">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a href="#" title="Счет">
                            <img src="/img/icon/doc.png" alt="Счет">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="box">
                <header>
                    <h5>Предварительная запись на работы</h5>
                </header>
                <div class="body">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="well well-sm">
                                <div id="add-event-form">
                                    <fieldset>
                                        <legend>Добавить запись в календарь</legend>
                                        <span class="help-block">Название записи</span>
                                        <input id="title" name="title" type="text" placeholder="ФИО клиента"
                                               class="form-control input-small">

                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="priority" value="label label-default" checked>
                                                <span class="label label-default">Стандарт</span>
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="priority" value="label label-primary">
                                                <span class="label label-primary">Подъемник №1</span>
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="priority" value="label label-warning">
                                                <span class="label label-warning">Подъемник №2</span>
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="priority" value="label label-success">
                                                <span class="label label-success">Подъемник №3</span>
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="priority" value="label label-danger">
                                                <span class="label label-danger">Яма</span>
                                            </label>
                                        </div>
                                        <br>
                                        <button id="add-event" type="button" class="btn btn-sm btn-default">Добавить запись
                                        </button>
                                    </fieldset>
                                </div>

                            </div>
                            <div class="well well-sm">
                                <h4>Перетаскиваемые записи</h4>
                                <ul id='external-events' class="list-unstyled">

                                </ul>


                                <div class="checkbox anim-checkbox h4">
                                    <input type="checkbox" id="drop-remove" class="danger">
                                    <label for="drop-remove">Удалить после перемещения</label>
                                </div>

                            </div>
                        </div>
                        <div id="calendar" class="col-lg-9"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layout/layout-footer'); %>
<%- include('layout/layout-scripts'); %>

<script>
    $(document).ready(function () {
        $("#addSparePartsModal").validationEngine();
        $("#changeSparePartsModal").validationEngine();
        $("#RequestSQLModal").validationEngine();
        $("#WordTableExportModal").validationEngine();
        $("#ExelTableExportModal").validationEngine();
        $("#HTMLTableExportModal").validationEngine();
    });
</script>

<script>
    $(function() {
        Metis.MetisCalendar();
    });
</script>


</body>

</html>