<%- include('layout/layout', {title: 'Продажи'});%>

<div id="content">
    <div class="outer">
        <div class="inner bg-light lter">
            &nbsp;<div>
                <ul id="css3menu3" class="topmenu" style="">
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#addSellingModal" title="Новая продажа">
                            <img src="/img/icon/add.png" alt="Новая продажа">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#changeSellingModal"
                           title="Изменить данные о продаже">
                            <img src="/img/icon/edit.png" alt="Изменить данные о продаже">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a href="#" title="Удалить продажу">
                            <img src="/img/icon/delete.png"
                                 alt="Удалить заказ">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a href="#" title="Очистить таблицу">
                            <img src="/img/icon/delete_table.png" alt="Очистить таблицу">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#RequestSQLModal" title="SQL">
                            <img src="/img/icon/sql.png" alt="SQL">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a href="#" title="Печать">
                            <img src="/img/icon/print.png" alt="Печать">
                        </a>
                    </li>
                    <li class="topmenu"><a href="#" title="Предварительный просмотр"><img
                                    src="/img/icon/old_edit_find.png" alt="Предварительный просмотр"></a></li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#WordTableExportModal"
                           title="Экспорт таблицы в Word">
                            <img src="/img/icon/word.png" alt="Экспорт таблицы в Word">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#ExelTableExportModal"
                           title="Экспорт таблицы в Exel">
                            <img src="/img/icon/exel.png" alt="Экспорт таблицы в Exel">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#HTMLTableExportModal"
                           title="Экспорт таблицы в HTML">
                            <img src="/img/icon/html.png" alt="Экспорт таблицы в HTML">
                        </a>
                    </li>
                    <li class="topmenu"><a href="#" title="Экспорт таблицы в TXT"><img src="/img/icon/txt.png"
                                                                                       alt="Экспорт таблицы в TXT"></a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#ChartModal" title="График">
                            <img src="/img/icon/blocks-grafics.png" alt="График">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <header>
                            <div class="icons"><i class="fa fa-table"></i></div>
                            <h5>Таблица с информацией о продажах запчастей клиентам</h5>
                        </header>
                        <div id="collapse4" class="body">
                            <table id="dataTable"
                                   class="table table-bordered table-condensed table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Тип операции</th>
                                    <th>Форма оплаты</th>
                                    <th>Документ</th>
                                    <th>№ документа</th>
                                    <th>Дата продажи</th>
                                    <th>Сумма</th>
                                    <th>Сотрудник</th>
                                    <th>Код заказа</th>
                                    <th>Код клиента</th>
                                    <th>Клиент</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button>
                    <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                       class="btn btn-primary btn-sm"
                       href="#addProductModal" id="addOrderButton">
                        <i class="">Добавить товар</i>
                    </a>
                </button>
                <button>
                    <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                       class="btn btn-info btn-sm"
                       href="#changeProductModal">
                        <i class="">Изменить товар</i>
                    </a>
                </button>
                <button>
                    <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                       class="btn btn-danger btn-sm"
                       href="#deleteProductModal">
                        <i class="">Удалить товар</i>
                    </a>
                </button>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <header>
                            <div class="icons"><i class="fa fa-table"></i></div>
                            <h5>Таблица с информацией о проданых товарах</h5>
                        </header>
                        <div id="collapse4" class="body">
                            <table id="dataTable1"
                                   class="table table-bordered table-condensed table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Код товара</th>
                                    <th>Артикул</th>
                                    <th>Товар</th>
                                    <th>Ед. изм.</th>
                                    <th>Цена</th>
                                    <th>Количество</th>
                                    <th>Сумма</th>
                                    <th>Примечание</th>
                                    <th>Код продажи</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layout/layout-footer');%>

<div id="addSellingModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Новая продажа</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-6">
                    <label class="control-label">ID</label>
                    <input class="form-control validate[required]" type="number" name="idSelling" min="1">
                    <label class="control-label">Тип операции</label>
                    <select class="form-control" size="1" name="typeTransactionSelling">
                        <option value="Роз. продажа">Розн. продажа</option>
                        <option value="Опт. продажа">Опт. продажа</option>
                    </select>
                    <label class="control-label">Форма оплаты</label>
                    <select class="form-control" size="1" name="formPaymentSelling">
                        <option value="Наличные">Наличные</option>
                        <option value="Безналичный">Безналичный</option>
                    </select>
                    <label class="control-label">Документ</label>
                    <select class="form-control" size="1" name="documentSelling">
                        <option value="Чек">Чек</option>
                        <option value="Счет">Счет</option>
                    </select>
                    <label class="control-label">№ документа</label>
                    <input class="form-control validate[required]" type="number" min="1" name="numberDocumentSelling" >
                    <label class="control-label">Дата продажи</label>
                    <input class="form-control validate[required]" type="date" name="dateSelling"><br>
                </div>
                <div class=" modal-body col-lg-6">
                    <label class="control-label">Сумма</label>
                    <input class="form-control validate[required]" type="number" min="0" name="sumSelling">
                    <label class="control-label">Сотрудник</label>
                    <input class="form-control validate[required]" type="text" value="<%=user.login%>" name="employeeSelling">
                    <label class="control-label">Код заказа</label>
                    <input class="form-control" type="number" min="1" name="orderCodeSelling">
                    <label class="control-label">Код клиента</label>
                    <input class="form-control" type="number" min="1" name="codeClientSelling">
                    <label class="control-label">Клиент</label>
                    <input class="form-control validate[required]" type="text" name="clientSelling"><br>
                </div>
            </div>
            <div>
                <button>
                    <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                       class="btn btn-primary btn-sm"
                       href="#addProductModal" id="addOrderButton">
                        <i class="">Добавить товар</i>
                    </a>
                </button>
                <button>
                    <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                       class="btn btn-info btn-sm"
                       href="#changeProductModal">
                        <i class="">Изменить товар</i>
                    </a>
                </button>
                <button>
                    <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                       class="btn btn-danger btn-sm"
                       href="#deleteProductModal">
                        <i class="">Удалить товар</i>
                    </a>
                </button>
            </div>
            <div class="col-lg-12">
                <div class="box">
                    <header>
                        <h5>Проданные товары</h5>
                        <div class="toolbar">
                            <div class="btn-group">
                                <a href="#sortableTable" data-toggle="collapse"
                                   class="btn btn-default btn-sm minimize-box">
                                    <i class="fa fa-angle-up"></i>
                                </a>
                                <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </header>
                    <div id="sortableTable" class="body collapse in">
                        <table class="table table-bordered sortableTable responsive-table">
                            <thead>
                            <tr>
                                <th>№</th>
                                <th>Код товара</th>
                                <th>Артикул</th>
                                <th>Товар</th>
                                <th>Ед. изм.</th>
                                <th>Цена</th>
                                <th>Количество</th>
                                <th>Сумма</th>
                                <th>Примечание</th>
                                <th>Код продажи</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-6 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Добавить</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="changeSellingModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Изменить данные о продаже</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-6">
                    <label class="control-label">ID</label>
                    <input class="form-control validate[required]" type="number" name="idSelling" min="1">
                    <label class="control-label">Тип операции</label>
                    <select class="form-control" size="1" name="typeTransactionSelling">
                        <option value="Роз. продажа">Розн. продажа</option>
                        <option value="Опт. продажа">Опт. продажа</option>
                    </select>
                    <label class="control-label">Форма оплаты</label>
                    <select class="form-control" size="1" name="formPaymentSelling">
                        <option value="Наличные">Наличные</option>
                        <option value="Безналичный">Безналичный</option>
                    </select>
                    <label class="control-label">Документ</label>
                    <select class="form-control" size="1" name="documentSelling">
                        <option value="Чек">Чек</option>
                        <option value="Счет">Счет</option>
                    </select>
                    <label class="control-label">№ документа</label>
                    <input class="form-control validate[required]" type="number" min="1" name="numberDocumentSelling" >
                    <label class="control-label">Дата продажи</label>
                    <input class="form-control validate[required]" type="date" name="dateSelling"><br>
                </div>
                <div class=" modal-body col-lg-6">
                    <label class="control-label">Сумма</label>
                    <input class="form-control validate[required]" type="number" min="0" name="sumSelling">
                    <label class="control-label">Сотрудник</label>
                    <input class="form-control validate[required]" type="text" value="<%=user.login%>" name="employeeSelling">
                    <label class="control-label">Код заказа</label>
                    <input class="form-control" type="number" min="1" name="orderCodeSelling">
                    <label class="control-label">Код клиента</label>
                    <input class="form-control" type="number" min="1" name="codeClientSelling">
                    <label class="control-label">Клиент</label>
                    <input class="form-control validate[required]" type="text" name="clientSelling"><br>
                </div>
            </div>
            <div>
                <button>
                    <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                       class="btn btn-primary btn-sm"
                       href="#addProductModal" id="addOrderButton">
                        <i class="">Добавить товар</i>
                    </a>
                </button>
                <button>
                    <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                       class="btn btn-info btn-sm"
                       href="#changeProductModal">
                        <i class="">Изменить товар</i>
                    </a>
                </button>
                <button>
                    <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                       class="btn btn-danger btn-sm"
                       href="#deleteProductModal">
                        <i class="">Удалить товар</i>
                    </a>
                </button>
            </div>
            <div class="col-lg-12">
                <div class="box">
                    <header>
                        <h5>Проданные товары</h5>
                        <div class="toolbar">
                            <div class="btn-group">
                                <a href="#sortableTable" data-toggle="collapse"
                                   class="btn btn-default btn-sm minimize-box">
                                    <i class="fa fa-angle-up"></i>
                                </a>
                                <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </header>
                    <div id="sortableTable" class="body collapse in">
                        <table class="table table-bordered sortableTable responsive-table">
                            <thead>
                            <tr>
                                <th>№</th>
                                <th>Код товара</th>
                                <th>Артикул</th>
                                <th>Товар</th>
                                <th>Ед. изм.</th>
                                <th>Цена</th>
                                <th>Количество</th>
                                <th>Сумма</th>
                                <th>Примечание</th>
                                <th>Код продажи</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-6 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Изменить</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="RequestSQLModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Выполнить SQL-запрос</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <label>SQL</label><br>
                    <textarea style="width: 100%; max-width: 100%" class="form-control" name="sqlRequestText" id="sqlRequestText"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <label>Ответ на запрос</label><br>
                    <textarea style="width: 100%; max-width: 100%" class="form-control" name="responseSql" id="responseSql"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" onclick="sqlRequest()">Выполнить</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="WordTableExportModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Экспорт таблицы в Microsoft Word</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <h4>Параметры</h4>
                    <hr>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, сначала будут напечатаны наименования полей, а уже потом данные">
                        <label>Печатать заголовки полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, в конце документа, после таблицы будут напечаны итоги полей, содержащие итоговые суммы ">
                        <label>Печатать итоги полей</label><br>
                    </div>
                    <hr>
                    <label class="control-label">Заголовок документа:</label><br>
                    <input class="form-control validate[required]" type="text" style="width: 100%">
                    <hr>
                    <label class="control-label">Поля таблицы "Продажи":</label><br>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>ID</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Тип операции</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Форма оплаты</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Документ</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>№ документа</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Дата продажи</label><br>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Сумма</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Сотрудник</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Код заказа</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Код клиента</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Клиент</label><br>
                        </div>
                    </div>
                    <hr>
                    <label>Подчиненные таблицы:</label><br>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox" checked>
                        <label>Проданные товары</label><br>
                    </div>
                    <hr>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox" checked>
                        <label>Печатать заголовки полей подчиненных таблиц</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox" checked>
                        <label>Печатать итоги полей подчиненных таблиц</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox" checked>
                        <label>Печатать наименования подчиненных таблиц</label><br>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Экспорт</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="ExelTableExportModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Экспорт таблицы в Microsoft Exel</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <h4>Параметры</h4>
                    <hr>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, сначала будут напечатаны наименования полей, а уже потом данные">
                        <label>Печатать заголовки полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, в конце документа, после таблицы будут напечаны итоги полей, содержащие итоговые суммы ">
                        <label>Печатать итоги полей</label><br>
                    </div>
                    <hr>
                    <label class="control-label">Заголовок документа:</label><br>
                    <input class="form-control validate[required]" type="text" style="width: 100%">
                    <hr>
                    <label class="control-label">Поля таблицы "Продажи":</label><br>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>ID</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Тип операции</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Форма оплаты</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Документ</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>№ документа</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Дата продажи</label><br>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Сумма</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Сотрудник</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Код заказа</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Код клиента</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Клиент</label><br>
                        </div>
                    </div>
                    <hr>
                    <label>Подчиненные таблицы:</label><br>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox" checked>
                        <label>Проданные товары</label><br>
                    </div>
                    <hr>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox" checked>
                        <label>Печатать заголовки полей подчиненных таблиц</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox" checked>
                        <label>Печатать итоги полей подчиненных таблиц</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox" checked>
                        <label>Печатать наименования подчиненных таблиц</label><br>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Экспорт</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="HTMLTableExportModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 50%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Экспорт таблицы в HTML</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <h4>Параметры</h4>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, сначала будут напечатаны наименования полей, а уже потом данные">
                        <label>Печатать заголовки полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, в конце документа, после таблицы будут напечаны итоги полей, содержащие итоговые суммы ">
                        <label>Печатать итоги полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Для каждой записис будет сгененрирован один общий файл">
                        <label>Печатать все записи в одном файле</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Экспорт</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="ChartModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">График</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Экспорт в EXEL</button>
                <button type="button" class="btn btn-info btn-grad" data-dismiss="modal">Печатать</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="addProductModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Добавление поступившего товара</h4>
            </div>
            <form onsubmit="return false" oninput="amountProduct.value=(priceProduct.value*quantityProduct.value)">
                <div class="row">
                    <div class="modal-body col-lg-6">
                        <label class="control-label">№</label>
                        <input class="form-control validate[required]" type="number" name="numberProduct"min="1">
                        <label class="control-label">Код товара</label><br>
                        <input class="form-control validate[required]" type="number" name="codeProduct">
                        <label class="control-label">Артикул</label>
                        <input class="form-control validate[required]" type="text" name="vendorCodeProduct">
                        <label class="control-label">Товар</label>
                        <input class="form-control validate[required]" type="text" name="nameProduct">
                        <label class="control-label">Ед. изм.</label>
                        <select class="form-control validate[required]" type="text" name="unitProduct">
                            <option value="шт">шт</option>
                            <option value="л">л</option>
                        </select>
                    </div>
                    <div class=" modal-body col-lg-6">
                        <label class="control-label">Цена</label>
                        <input class="form-control validate[required]" type="number" name="priceProduct" min="0">
                        <label class="control-label">Количество</label>
                        <input class="form-control validate[required]" type="number" name="quantityProduct" min="0">
                        <label class="control-label">Сумма</label>
                        <input class="form-control validate[required]" type="number" name="amountProduct"min="0"><br>
                        <label class="control-label">Примечание</label>
                        <input class="form-control validate[required]" type="text" name="noteProduct">
                        <label class="control-label">Код продажи</label>
                        <input class="form-control validate[required]" type="number" name="codeSellingProduct">
                        <br>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Добавить</button>
                    <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="changeProductModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Изменение данных о поступившем товаре</h4>
            </div>
            <form onsubmit="return false" oninput="amountProduct.value=(priceProduct.value*quantityProduct.value)">
                <div class="row">
                    <div class="modal-body col-lg-6">
                        <label class="control-label">№</label>
                        <input class="form-control validate[required]" type="number" name="numberProduct"min="1">
                        <label class="control-label">Код товара</label><br>
                        <input class="form-control validate[required]" type="number" name="codeProduct">
                        <label class="control-label">Артикул</label>
                        <input class="form-control validate[required]" type="text" name="vendorCodeProduct">
                        <label class="control-label">Товар</label>
                        <input class="form-control validate[required]" type="text" name="nameProduct">
                        <label class="control-label">Ед. изм.</label>
                        <select class="form-control validate[required]" type="text" name="unitProduct">
                            <option value="шт">шт</option>
                            <option value="л">л</option>
                        </select>
                    </div>
                    <div class=" modal-body col-lg-6">
                        <label class="control-label">Цена</label>
                        <input class="form-control validate[required]" type="number" name="priceProduct" min="0">
                        <label class="control-label">Количество</label>
                        <input class="form-control validate[required]" type="number" name="quantityProduct" min="0">
                        <label class="control-label">Сумма</label>
                        <input class="form-control validate[required]" type="number" name="amountProduct"min="0"><br>
                        <label class="control-label">Примечание</label>
                        <input class="form-control validate[required]" type="text" name="noteProduct">
                        <label class="control-label">Код продажи</label>
                        <input class="form-control validate[required]" type="number" name="codeSellingProduct">
                        <br>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Изменить</button>
                    <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<%- include('layout/layout-scripts');%>

<script>
    $(document).ready(function () {
        $("#addSellingModal").validationEngine();
        $("#changeSellingModal").validationEngine();
        $("#RequestSQLModal").validationEngine();
        $("#WordTableExportModal").validationEngine();
        $("#ExelTableExportModal").validationEngine();
        $("#HTMLTableExportModal").validationEngine();
        $("#addProductModal").validationEngine();
        $("#changeProductModal").validationEngine();
    });
</script>

<script>
    $(function () {
        Metis.MetisTable();
        Metis.metisSortable();
    });
</script>