<%- include('layout/layout', {title: 'AutoDriveAdmin'});%>
                <div id="content">
                    <div class="outer">
                        <div class="inner bg-light lter">
<div class="col-lg-12">
    <h1>Список правил сотрудника автосервиса AutoDrive</h1>
    <p>Нарушение трудовой дисциплины, с невнимательным отношением к качеству выполняемых работ и халатностью в обращении с оборудованием компании.
        Результат, как правило, оказывается плачевным - сервис теряет репутацию, клиентов и соответственно доходы.</p>
    <h2>Должностаная инструкция сотрудников</h2>
    <h4>1. Общие положения</h4>
    <ul>
        <li>Настоящя инструкция определяет должностные обязанности, права и ответственность сотрудников AutoDrive.</li>
        <li>Сотрудник назначается на свою должность и освобождается от нее приказом директора.</li>
        <li>Мастер-приемщик должен знать:</li>
        <ul>
            <li>Конструктивное устройство и технические особенности обслуживаемых автомобилей</li>
            <li>Технические условия, ГОСТы, технические регламенты на ремонт, сборку, испытания и регулировку различных агрегатов, узлов</li>
            <li>Виды оказываемых услуг и порядок их оказания</li>
            <li>Прейскуранты на выполняемые работы и оказываемые услуги</li>
            <li>Стоимость запасных чстей и расходных материалов</li>
            <li>Порядок оформления приемо-сдаточной документации, в том числе порядок оформления и заполнения документов, используемых
                для приёма заказов на ремонт и передачи выполненных заказов</li>
            <li>Порядок взаимодействия с клиентами при выполнении заказов</li>
            <li>Порядок взаимодействия с другими работниками при выполнении ремонтных работ</li>
            <li>Правила и нормы охраны труда, техники безопасности, противопожарной безопасности и производственной санитарии</li>
        </ul>
        <li>В своей деятельности сотрудник руководствуется:</li>
        <ul>
            <li>Локальными нормативными актами, в том числе правилами внутреннего трудого распорядка</li>
            <li>Приказами (распоряжениями) директора</li>
            <li>Настоящей должностной инструкцией</li>
        </ul>
    </ul>
    <h4>2. Должностные обязаности мастера-приёмщика</h4>
    <p>Мастер-приёмщик выполняет следующие должностные обязанности:</p>
    <ul>
        <li>Обеспечивает работу по эффективному и культурному обслуживанию посетителей, созданию для них комфортных условий.</li>
        <li>Консультирует посетителей по вопросам наличия имеющихся услуг, проводимым специальным акциям, наличием бонусных программ и т.д.</li>
        <li>Принимает вновь поступивший автомобиль в ремонт, контролирует открытие заказа-наряда.</li>
        <li>Выясняет у клиента наиболее достоверную причину обращения.</li>
        <li>Отображает все предполагаемые неисправности и пожелания клиента в бланке заказа-наряда.</li>
        <li>Ставит автомобиль в ремонтную зону с прилагающимся предварительно заказом-нарядом.</li>
        <li>Назначает ответственного работника за выполнением работ согласно предварительному заказу-наряду.</li>
        <li>При выявлении в процессе диагностики неисправностей, не оговоренных ранее в предварительном заказе-наряде, незамедлительно
        обсуждает с клиентом изменение стоимости работ, дополнительных запасных частей, изменение сроков выполнения работ.</li>
        <li>В случае отсутствия запасных частей на складе и при наличии согласия клиента на выполнение работ, требующих данных
        запасных частей, не замедлительно ставит в известность продавца запасных частей.</li>
        <li>Фиксирует в процессе проверки отремонтированного автомобиля обнаруженные дополнительные неисправности, поставив в известность
        об этом клиента, в случае отказа клиента от устранения данных неисправностей фиксирует их как рекомендации к последующему
        устранению.</li>
    </ul>
    <h4>3. Должностные обязаности автомеханика/автоэлектрика</h4>
    <ul>
        <li>Осуществлять качественный ремонт и техническое обслуживание автомобилей в соответствии с существующей технологией и установленными сроками.</li>
        <li>Обеспечивать персональную выработку на уровне, соответствующем разряду.</li>
        <li>Подготавливать рабочее место перед началом работы и поддерживать его в надлежащем виде в процессе рабочего дня.</li>
        <li>Принимать заказ-наряд с перечнем работ на автомобиль, пришедший в ремонт. </li>
        <li>Подготавливать оборудование и инструменты, необходимые для работ. </li>
        <li>Обеспечивать постановку автомашины на свое рабочее место.</li>
        <li>Производить внешний и внутренний осмотр автомашины на предмет комплектации и механических повреждений, о замечаниях сообщать мастеру-приемщику.</li>
        <li>Производить ремонт автомобиля по работам, указанным в заказ-наряде.</li>
        <li>При невозможности устранения неисправности без замены деталей или агрегатов, сообщать об этом немедленно мастеру-приемщику. </li>
        <li>Обеспечивать соблюдение установленных норм расхода эксплуатационных материалов. </li>
        <li>Соблюдать трудовую и производственную дисциплину, а также правила и нормы охраны труда. </li>
        <li>Производить чистку оборудования и инструмента в процессе рабочего дня и по его окончании.</li>
        <li>Повышать свой квалификационный уровень, осваивать новые технологии и оборудование.</li>
    </ul>
<h4>4. Права сотрудника</h4>
    <p>Сотрудник имеет право:</p>
    <ul>
        <li>Знакомиться с решениями руководства организации, касающимися его деятельности.</li>
        <li>Представлять руководству предложения по совершенствованию своей работы и работы компании.</li>
        <li>Сообщать своему непосредственному руководителю о всех выявленных в процессе своей деятельности недостатках и вносить предложения по их устранени.</li>
        <li>Требовать от руководства создания нормальных условий для выполнения служебных обязанностей.</li>
        <li>Принимать решения в пределах своей компетенции.</li>
    </ul>
<h4>5. Ответственность сотрудника</h4>
    <p>Сотрудник несет ответственность:</p>
    <ul>
        <li>За невыполнение и/или несвоевременное, халатное выполнение своих должностных обязанностей.</li>
        <li>За несоблюдение действующих инструкций, приказов и распоряжений по сохранению коммерческой тайны и конфиденциальной информации.</li>
        <li>За нарушение правил внутреннего трудового распорядка, трудовой дисциплины, правил техники безопасности и противопожарной безопасности.</li>
    </ul>


</div>

                        </div>
                        <!-- /.inner -->
                    </div>
                    <!-- /.outer -->
                </div>
                <!-- /#content -->

                    <div id="right" class="onoffcanvas is-right is-fixed bg-light" aria-expanded=false>
                        <a class="onoffcanvas-toggler" href="#right" data-toggle=onoffcanvas aria-expanded=false></a>
                        <br>
                        <br>
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Warning!</strong> Best check yo self, you're not looking too good.
                        </div>
                        <!-- .well well-small -->
                        <div class="well well-small dark">
                            <ul class="list-unstyled">
                                <li>Visitor <span class="inlinesparkline pull-right">1,4,4,7,5,9,10</span></li>
                                <li>Online Visitor <span class="dynamicsparkline pull-right">Loading..</span></li>
                                <li>Popularity <span class="dynamicbar pull-right">Loading..</span></li>
                                <li>New Users <span class="inlinebar pull-right">1,3,4,5,3,5</span></li>
                            </ul>
                        </div>
                        <!-- /.well well-small -->
                        <!-- .well well-small -->
                        <div class="well well-small dark">
                            <button class="btn btn-block">Default</button>
                            <button class="btn btn-primary btn-block">Primary</button>
                            <button class="btn btn-info btn-block">Info</button>
                            <button class="btn btn-success btn-block">Success</button>
                            <button class="btn btn-danger btn-block">Danger</button>
                            <button class="btn btn-warning btn-block">Warning</button>
                            <button class="btn btn-inverse btn-block">Inverse</button>
                            <button class="btn btn-metis-1 btn-block">btn-metis-1</button>
                            <button class="btn btn-metis-2 btn-block">btn-metis-2</button>
                            <button class="btn btn-metis-3 btn-block">btn-metis-3</button>
                            <button class="btn btn-metis-4 btn-block">btn-metis-4</button>
                            <button class="btn btn-metis-5 btn-block">btn-metis-5</button>
                            <button class="btn btn-metis-6 btn-block">btn-metis-6</button>
                        </div>
                        <!-- /.well well-small -->
                        <!-- .well well-small -->
                        <div class="well well-small dark">
                            <span>Default</span><span class="pull-right"><small>20%</small></span>
                        
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-info" style="width: 20%"></div>
                            </div>
                            <span>Success</span><span class="pull-right"><small>40%</small></span>
                        
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-success" style="width: 40%"></div>
                            </div>
                            <span>warning</span><span class="pull-right"><small>60%</small></span>
                        
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-warning" style="width: 60%"></div>
                            </div>
                            <span>Danger</span><span class="pull-right"><small>80%</small></span>
                        
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-danger" style="width: 80%"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /#right -->
            </div>
            <!-- /#wrap -->
            <footer class="Footer bg-dark dker">
                <p>2017 &copy; AutoDrive</p>
            </footer>
            <!-- /#footer -->
            <!-- #helpModal -->
            <div id="helpModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- /#helpModal -->
            <!--jQuery -->
            <script src="/lib/jquery/jquery.js"></script>


            <!--Bootstrap -->
            <script src="/lib/bootstrap/js/bootstrap.js"></script>
            <!-- MetisMenu -->
            <script src="/lib/metismenu/metisMenu.js"></script>
            <!-- onoffcanvas -->
            <script src="/lib/onoffcanvas/onoffcanvas.js"></script>
            <!-- Screenfull -->
            <script src="/lib/screenfull/screenfull.js"></script>


            <!-- Metis core scripts -->
            <script src="/js/core.js"></script>
            <!-- Metis demo scripts -->
            <script src="/js/app.js"></script>


            <script src="/js/style-switcher.js"></script>
        </body>

</html>
