<%- include('layout/layout', {title: 'Поставщики'});%>

<div id="content">
    <div class="outer">
        <div class="inner bg-light lter">
            &nbsp;<div>
                <ul id="css3menu3" class="topmenu" style="">
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#addSupplierModal" title="Новый поставщик">
                            <img src="/img/icon/add.png" alt="Новый поставщик">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#changeSupplierModal"
                           title="Изменить данные о поставщике">
                            <img src="/img/icon/edit.png" alt="Изменить данные о поставщике">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a href="#" title="Удалить поставщика">
                            <img src="/img/icon/delete.png"
                                 alt="Удалить склад">
                        </a>
                    </li>
                    <li class="topmenu"><a href="#" title="Очистить таблицу"><img src="/img/icon/delete_table.png"
                                                                                  alt="Очистить таблицу"></a></li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#RequestSQLModal" title="SQL">
                            <img src="/img/icon/sql.png" alt="SQL">
                        </a>
                    </li>
                    <li class="topmenu"><a href="#" title="Печать"><img src="/img/icon/print.png" alt="Печать"></a>
                    </li>
                    <li class="topmenu"><a href="#" title="Предварительный просмотр"><img
                                    src="/img/icon/old_edit_find.png" alt="Предварительный просмотр"></a></li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#WordTableExportModal"
                           title="Экспорт таблицы в Word">
                            <img src="/img/icon/word.png" alt="Экспорт таблицы в Word">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#ExelTableExportModal"
                           title="Экспорт таблицы в Exel">
                            <img src="/img/icon/exel.png" alt="Экспорт таблицы в Exel">
                        </a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#HTMLTableExportModal"
                           title="Экспорт таблицы в HTML">
                            <img src="/img/icon/html.png" alt="Экспорт таблицы в HTML">
                        </a>
                    </li>
                    <li class="topmenu"><a href="#" title="Экспорт таблицы в TXT"><img src="/img/icon/txt.png"
                                                                                       alt="Экспорт таблицы в TXT"></a>
                    </li>
                    <li class="topmenu">
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm" href="#ChartModal" title="График">
                            <img src="/img/icon/blocks-grafics.png" alt="График">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <header>
                            <div class="icons"><i class="fa fa-table"></i></div>
                            <h5>Таблица с информацией о поставщиках</h5>
                        </header>
                        <div id="collapse4" class="body">
                            <table id="dataTable"
                                   class="table table-bordered table-condensed table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Поставщик</th>
                                    <th>Полное наименование</th>
                                    <th>ОП Форма</th>
                                    <th>Категория</th>
                                    <th>ИНН</th>
                                    <th>КПП</th>
                                    <th>ОГРН</th>
                                    <th>ОКПО</th>
                                    <th>Банковские реквизиты</th>
                                    <th>Адрес юридический</th>
                                    <th>Адрес фактический</th>
                                    <th>Адрес почтовый</th>
                                    <th>Страна</th>
                                    <th>Город</th>
                                    <th>Телефон</th>
                                    <th>Факс</th>
                                    <th>E-mail</th>
                                    <th>Сайт</th>
                                    <th>Бухгалтер</th>
                                    <th>Директор</th>
                                    <th>Заметки</th>
                                    <th>Статус</th>
                                    <th>Добавлено</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.inner -->
    </div>
    <!-- /.outer -->
</div>



<%- include('layout/layout-footer');%>

<div id="addSupplierModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Новый поставщик</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-6">
                    <label class="control-label">ID</label>
                    <input class="form-control validate[required]" type="number" min="1">
                    <label class="control-label">Поставщик</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Полное наименование</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">ОП Форма</label>
                    <select class="form-control" size="1">
                        <option value="АКБ">АКБ</option>
                        <option value="АОЗТ">АОЗТ</option>
                        <option value="ГУП">ГУП</option>
                        <option value="ЗАО">ЗАО</option>
                        <option value="НПО">НПО</option>
                        <option value="НПП">НПП</option>
                        <option value="ОАО">ОАО</option>
                        <option value="ООО">ООО</option>
                        <option value="ПБОЮЛ">ПБОЮЛ</option>
                        <option value="ТОО">ТОО</option>
                        <option value="ЧП">ЧП</option>
                        <option value="Организация">Организация</option>
                        <option value="Частное лицо">Частное лицо</option>
                    </select>
                    <label class="control-label">Категория</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">ИНН</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">КПП</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">ОГРН</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">ОКПО</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Банковские реквизиты</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Адрес юридический</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Адрес фактический</label>
                    <input class="form-control validate[required]" type="text"><br>
                </div>
                <div class="modal-body col-lg-6">
                    <label class="control-label">Адрес почтовый</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Страна</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Город</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Телефон</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Факс</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">E-mail</label>
                    <input class="form-control validate[required]" type="email">
                    <label class="control-label">Сайт</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Бухгалтер</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Директор</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Заметки</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Статус</label>
                    <select class="form-control" size="1">
                        <option value="Работают">Работают</option>
                        <option value="Не работают">Не работают</option>
                    </select>
                    <label class="control-label">Добавлено</label>
                    <input class="form-control validate[required]" type="datetime-local"><br>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Добавить</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="changeSupplierModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Изменение данных о поставщике</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-6">
                    <label class="control-label">ID</label>
                    <input class="form-control validate[required]" type="number" min="1">
                    <label class="control-label">Поставщик</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Полное наименование</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">ОП Форма</label>
                    <select class="form-control" size="1">
                        <option value="АКБ">АКБ</option>
                        <option value="АОЗТ">АОЗТ</option>
                        <option value="ГУП">ГУП</option>
                        <option value="ЗАО">ЗАО</option>
                        <option value="НПО">НПО</option>
                        <option value="НПП">НПП</option>
                        <option value="ОАО">ОАО</option>
                        <option value="ООО">ООО</option>
                        <option value="ПБОЮЛ">ПБОЮЛ</option>
                        <option value="ТОО">ТОО</option>
                        <option value="ЧП">ЧП</option>
                        <option value="Организация">Организация</option>
                        <option value="Частное лицо">Частное лицо</option>
                    </select>
                    <label class="control-label">Категория</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">ИНН</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">КПП</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">ОГРН</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">ОКПО</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Банковские реквизиты</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Адрес юридический</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Адрес фактический</label>
                    <input class="form-control validate[required]" type="text"><br>
                </div>
                <div class="modal-body col-lg-6">
                    <label class="control-label">Адрес почтовый</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Страна</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Город</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Телефон</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Факс</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">E-mail</label>
                    <input class="form-control validate[required]" type="email">
                    <label class="control-label">Сайт</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Бухгалтер</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Директор</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Заметки</label>
                    <input class="form-control validate[required]" type="text">
                    <label class="control-label">Статус</label>
                    <select class="form-control" size="1">
                        <option value="Работают">Работают</option>
                        <option value="Не работают">Не работают</option>
                    </select>
                    <label class="control-label">Добавлено</label>
                    <input class="form-control validate[required]" type="datetime-local"><br>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-grad" data-dismiss="modal">Изменить</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="RequestSQLModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Выполнить SQL-запрос</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <label>SQL</label><br>
                    <textarea style="width: 100%; max-width: 100%" class="form-control" name="sqlRequestText" id="sqlRequestText"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <label>Ответ на запрос</label><br>
                    <textarea style="width: 100%; max-width: 100%" class="form-control" name="responseSql" id="responseSql"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" onclick="sqlRequest()">Выполнить</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="WordTableExportModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Экспорт таблицы в Microsoft Word</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <h4>Параметры</h4>
                    <hr>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, сначала будут напечатаны наименования полей, а уже потом данные">
                        <label>Печатать заголовки полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, в конце документа, после таблицы будут напечаны итоги полей, содержащие итоговые суммы ">
                        <label>Печатать итоги полей</label><br>
                    </div>
                    <hr>
                    <label class="control-label">Заголовок документа:</label><br>
                    <input class="form-control validate[required]" type="text" style="width: 100%">
                    <hr>
                    <label class="control-label">Поля таблицы "Поставщики":</label><br>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>ID</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Поставщик</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Полное наименование</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>ОП Форма</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Категория</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>ИНН</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>КПП</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>ОГРН</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>ОКПО</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Банковские реквизиты</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Адрес юридический</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Адрес фактический</label><br>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Адрес почтовый</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Страна</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Город</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Телефон</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Факс</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>E-mail</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Сайт</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Бухгалтер</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Директор</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Заметки</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Статус</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Добавлено</label><br>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Экспорт</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="ExelTableExportModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Экспорт таблицы в Microsoft Exel</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <h4>Параметры</h4>
                    <hr>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, сначала будут напечатаны наименования полей, а уже потом данные">
                        <label>Печатать заголовки полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input type="checkbox"
                               title="Если данная галочка отмечена, в конце документа, после таблицы будут напечаны итоги полей, содержащие итоговые суммы ">
                        <label>Печатать итоги полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input type="checkbox">
                        <label>Печатать сетку</label>
                    </div>
                    <hr>
                    <label class="control-label">Заголовок документа:</label><br>
                    <input class="form-control validate[required]" type="text" style="width: 100%"><br>
                    <hr>
                    <label class="control-label">Поля таблицы "Поставщики":</label><br>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>ID</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Поставщик</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Полное наименование</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>ОП Форма</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Категория</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>ИНН</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>КПП</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>ОГРН</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>ОКПО</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Банковские реквизиты</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Адрес юридический</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Адрес фактический</label><br>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Адрес почтовый</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Страна</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Город</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Телефон</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Факс</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>E-mail</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Сайт</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Бухгалтер</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Директор</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Заметки</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Статус</label><br>
                        </div>
                        <div class="checkbox anim-checkbox">
                            <input class="success" type="checkbox" checked>
                            <label>Добавлено</label><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Экспорт</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="HTMLTableExportModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 50%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Экспорт таблицы в HTML</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">
                    <h4>Параметры</h4>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, сначала будут напечатаны наименования полей, а уже потом данные">
                        <label>Печатать заголовки полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Если данная галочка отмечена, в конце документа, после таблицы будут напечаны итоги полей, содержащие итоговые суммы ">
                        <label>Печатать итоги полей</label><br>
                    </div>
                    <div class="checkbox anim-checkbox">
                        <input class="success" type="checkbox"
                               title="Для каждой записис будет сгененрирован один общий файл">
                        <label>Печатать все записи в одном файле</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Экспорт</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="ChartModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">График</h4>
            </div>
            <div class="row">
                <div class="modal-body col-lg-12">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-grad" data-dismiss="modal">Экспорт в EXEL</button>
                <button type="button" class="btn btn-info btn-grad" data-dismiss="modal">Печатать</button>
                <button type="button" class="btn btn-default btn-grad" data-dismiss="modal">Отменить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<%- include('layout/layout-scripts');%>

<script>
    $(document).ready(function () {
        $("#addSupplierModal").validationEngine();
        $("#changeSupplierModal").validationEngine();
        $("#RequestSQLModal").validationEngine();
        $("#WordTableExportModal").validationEngine();
        $("#ExelTableExportModal").validationEngine();
        $("#HTMLTableExportModal").validationEngine();
    });
</script>

<script>
    $(function () {
        Metis.MetisTable();
        Metis.metisSortable();
    });
</script>