/* Dark Grey Menu */
ul#css3menu3,ul#css3menu3 ul
{
	margin:0;
	list-style:none;
	padding:0;
}
ul#css3menu3 .submenu{
	display:none;
	position:absolute;
	left:0;top:100%;
	float:left;
	background-color:#4B4F51;
	border-width:9px;
	border-radius:0 11px 11px 11px;
	-moz-border-radius:0 11px 11px 11px;
	-webkit-border-radius:0;
	-webkit-border-top-right-radius:11px;
	-webkit-border-bottom-right-radius:11px;
	-webkit-border-bottom-left-radius:11px;
	border-style:solid;
	border-color:#4B4F51;
}
ul#css3menu3 li:hover>*
{
	display:block;
}
ul#css3menu3 li:hover
{
	position:relative;
}
ul#css3menu3 ul .submenu
{
	position:absolute;
	left:100%;
	top:-6px;
	border-radius:11px;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
}
ul#css3menu3
{
	display:block;
	font-size:0;
	float:left;
}
ul#css3menu3 ul
{
	padding:0;
}
ul#css3menu3 .column
{
	float:left;
}
ul#css3menu3 li
{
	display:block;
	white-space:nowrap;
	font-size:0;
	float:left;
}
ul#css3menu3>li,ul#css3menu3 li
{
	margin:0;
}
ul#css3menu3 a:active, ul#css3menu3 a:focus
{
	outline-style:none;
}
ul#css3menu3 a
{
	display:block;
	vertical-align:middle;
	text-align:left;
	text-decoration:none;
	font:11px Arial,Helvetica,sans-serif;
	/*color:#2E3132;*/
	cursor:pointer;
	padding:12px 15px 12px 15px;
	/*background-color:#C0C3C5;*/
	background-repeat:repeat;
	border-width:0px;
	border-style:none;
}
ul#css3menu3 ul li
{
	float:none;
}
ul#css3menu3 ul a
{
	text-align:left;
	padding:4px 8px;
	background-color:#4B4F51;
	border-width:1px;
	border-style:solid;
	border-color:#888888 #4B4F51 #3D3D3D #4B4F51;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	font:11px Arial,Helvetica,sans-serif;
	color:#ffffff;
	text-decoration:none;
}
ul#css3menu3 li:hover>a
{
	background-color:#4B4F51;
	border-style:none;
	font:11px Arial,Helvetica,sans-serif;
	color:#ffffff;
	text-decoration:none;
}
ul#css3menu3 img
{
	border:none;
	vertical-align:middle;
	margin-right:0px;
}
ul#css3menu3 img.over
{
	display:none;
}
ul#css3menu3 li:hover > a img.def
{
	display:none;
}
ul#css3menu3 li:hover > a img.over
{
	display:inline;
}

ul#css3menu3 ul li:hover>a
{
	background-color:#C0C3C5;
	border-style:solid;
	border-color:#53595C #4B4F51 #D3D5D5 #C0C3C5;
	font:11px Arial,Helvetica,sans-serif;
	color:#2E3132;
	text-decoration:none;
}
ul#css3menu3.topmenu>li
{
	margin:0 0 0 5px;
}
ul#css3menu3.topmenu
{
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	padding:5px 5px 5px 0;
}
ul#css3menu3 li.topmenu>a
{
	height:52px;
	line-height:26px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
ul#css3menu3 li.topmenu:hover>a
{
	line-height:26px;
}

/*#css3menu3 {*/
	/*transition: all 0.3s ease-in-out;*/
	/*width: 700px;*/
	/*z-index: 999;*/
/*}*/
/*#css3menu3 {*/
	/*position: absolute;*/
	/*left: -250px;*/
/*}*/
/*.sidebar-left-opened #css3menu3 {*/
	/*left: 0;*/
/*}*/
/*@media (min-width: 768px) {*/
	/*#css3menu3 {*/
		/*!*position: sticky;*!*/
		/*!*float: left;*!*/
		/*!*left: auto;*!*/
	/*}*/
	/*!*.sidebar-left-hidden #css3menu3 {*!*/
		/*!*width: 0;*!*/
		/*!*visibility: hidden;*!*/
	/*!*}*!*/
	/*!*.sidebar-left-mini #css3menu3 {*!*/
		/*!*!*width: 50px;*!*!*/
	/*!*}*!*/
	/*!*#content {*!*/
		/*!*transition: all 0.3s ease-in-out;*!*/
		/*!*overflow: hidden;*!*/
	/*!*}*!*/
/*}*/





