<div id="NewTableModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Создание новой таблицы</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center; background:yellow ">
                    Физическая таблица (префикс в имени tbl) хранит данные, введенные пользователем. Виртуальное представление
                    (префикс qdf) - это хранимый запрос в какую-то таблицу. Представление может содержать вычисляемые поля и
                    поля из других таблиц.
                </p>
                <label class="control-label">Тип таблицы</label><br>
                <div class="col-lg-6">
                    <div class="checkbox">
                        <label>
                            <input class="uniform" type="radio" name="optionsRadios" value="option1" checked>
                            Физическая таблица TABLE (tbl...)
                        </label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="checkbox">
                        <label>
                            <input class="uniform" type="radio" name="optionsRadios" value="option1" checked>
                            Виртуальное представление VIEW (qdf...)
                        </label>
                    </div>
                </div>
                <label class="control-label">Внутреннее имя таблицы</label><br>
                <input class="form-control validate[required]" type="text" value="NewTable" >
                <p style="text-align: center; background:yellow ">
                    На английском языке без пробелов
                </p><br>
                <label class="control-label">Наименование таблицы</label><br>
                <input class="form-control validate[required]" type="text" value="Новая таблица" >
                <p style="text-align: center; background:yellow ">
                    Наименование на русском языке с большой буквы и во мн. числе, например МоиКниги
                </p><br>
                <label class="control-label">Поля таблицы</label><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Сохранить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="DeleteTableModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Удаление таблицы</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center">
                    Выберите таблицу или представление, которую необходибо удалить из БД. Все записи будут уничтожены.
                    БУДЬТЕ ОСТОРОЖНЫ!!!
                </p>
                <label class="control-label">Список таблиц</label><br>
                <select data-placeholder="Your Favorite Football Team" class="form-control chzn-select" tabindex="5">
                    <option value=""></option>
                    <optgroup label="NFC EAST">
                        <option>Dallas Cowboys</option>
                        <option>New York Giants</option>
                        <option>Philadelphia Eagles</option>
                        <option>Washington Redskins</option>
                    </optgroup>
                    <optgroup label="NFC NORTH">
                        <option>Chicago Bears</option>
                        <option>Detroit Lions</option>
                        <option>Green Bay Packers</option>
                        <option>Minnesota Vikings</option>
                    </optgroup>
                    <optgroup label="NFC SOUTH">
                        <option>Atlanta Falcons</option>
                        <option>Carolina Panthers</option>
                        <option>New Orleans Saints</option>
                        <option>Tampa Bay Buccaneers</option>
                    </optgroup>
                    <optgroup label="NFC WEST">
                        <option>Arizona Cardinals</option>
                        <option>St. Louis Rams</option>
                        <option>San Francisco 49ers</option>
                        <option>Seattle Seahawks</option>
                    </optgroup>
                    <optgroup label="AFC EAST">
                        <option>Buffalo Bills</option>
                        <option>Miami Dolphins</option>
                        <option>New England Patriots</option>
                        <option>New York Jets</option>
                    </optgroup>
                    <optgroup label="AFC NORTH">
                        <option>Baltimore Ravens</option>
                        <option>Cincinnati Bengals</option>
                        <option>Cleveland Browns</option>
                        <option>Pittsburgh Steelers</option>
                    </optgroup>
                    <optgroup label="AFC SOUTH">
                        <option>Houston Texans</option>
                        <option>Indianapolis Colts</option>
                        <option>Jacksonville Jaguars</option>
                        <option>Tennessee Titans</option>
                    </optgroup>
                    <optgroup label="AFC WEST">
                        <option>Denver Broncos</option>
                        <option>Kansas City Chiefs</option>
                        <option>Oakland Raiders</option>
                        <option>San Diego Chargers</option>
                    </optgroup>        </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Удалить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>