<script src="/lib/jquery/jquery.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="/lib/chosen/chosen.jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.26.6/js/jquery.tablesorter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/1.18.17/jquery.autosize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/locale-all.js"></script>

<script src="/lib/jquery-validation-engine/jquery.validationEngine-ru.js" type="text/javascript"
        charset="utf-8"></script>
<script src="/lib/jquery-validation-engine/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>
<script src="/lib/plupload/js/plupload.full.min.js"></script>
<script src="/lib/plupload/js/jquery.plupload.queue/jquery.plupload.queue.min.js"></script>
<script src="/lib/jquery.gritter/js/jquery.gritter.min.js"></script>
<script src="/lib/jasny-bootstrap/js/jasny-bootstrap.js"></script>

<!--Bootstrap -->
<script src="/lib/bootstrap/js/bootstrap.js"></script>
<!-- MetisMenu -->
<script src="/lib/metismenu/metisMenu.js"></script>
<!-- onoffcanvas -->
<script src="/lib/onoffcanvas/onoffcanvas.js"></script>
<!-- Screenfull -->
<script src="/lib/screenfull/screenfull.js"></script>

<script src="/lib/inputlimiter/jquery.inputlimiter.js"></script>

<script src="/js/ajax/sendJSON.js"></script>

<script src="/js/ajax/request_database.js"></script>


<!-- Metis core scripts -->
<script src="/js/core.js"></script>
<!-- Metis demo scripts -->
<script src="/js/app.js"></script>

<script src="/js/style-switcher.js"></script>

<!--скрипт добавляет возможность нескольких модальных окон одновременно-->
<script>
    $(document).on('show.bs.modal', '.modal', function () {
        var zIndex = 1040 + (10 * $('.modal:visible').length);
        $(this).css('z-index', zIndex);
        setTimeout(function() {
            $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
        }, 0);
    });
    // убираем проблему со скролом
    $(document).on('hidden.bs.modal', '.modal', function () {
        $('.modal:visible').length && $(document.body).addClass('modal-open');
    });
</script>