<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <!--IE Compatibility modes-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Mobile first-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%=title%></title>

    <meta name="description" content="AutoDriveAdmin">
    <meta name="author" content="Reallydex">

    <meta name="msapplication-TileColor" content="#5bc0de"/>
    <meta name="msapplication-TileImage" content="/img/metis-tile.png"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">

    <!-- Metis core stylesheet -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- metisMenu stylesheet -->
    <link rel="stylesheet" href="/lib/metismenu/metisMenu.css">

    <!-- onoffcanvas stylesheet -->
    <link rel="stylesheet" href="/lib/onoffcanvas/onoffcanvas.css">

    <!-- animate.css stylesheet -->
    <link rel="stylesheet" href="/lib/animate.css/animate.css">

    <!-- jasny-bootstrap stylesheer -->
    <link rel="stylesheet" href="/lib/jasny-bootstrap/css/jasny-bootstrap.css">

    <!-- menu.css stylesheet -->
    <link rel="stylesheet" href="/css/menu.css" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.theme.min.css">

    <link rel="stylesheet" href="/lib/jquery-validation-engine/validationEngine.jquery.css" type="text/css"/>

    <link rel="stylesheet" href="/lib/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css">
    <link rel="stylesheet" href="/lib/jquery.gritter/css/jquery.gritter.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" />

    <link rel="stylesheet" href="/lib/chosen/chosen.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>


    <![endif]-->

    <!--For Development Only. Not required -->
    <script>
        less = {
            env: "development",
            relativeUrls: false,
            rootpath: "/assets/"
        };
    </script>
    <link rel="stylesheet" href="/css/style-switcher.css">
    <link rel="stylesheet/less" type="text/css" href="/less/theme.less">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.js"></script>

</head>

<body class="  ">
<div class="bg-dark dk" id="wrap">
    <div id="top">
        <!-- .navbar -->
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">


                <!-- Brand and toggle get grouped for better mobile display -->
                <header class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/start" class="navbar-brand"><img src="/img/logo-min.png" alt=""></a>

                </header>


                <div class="topnav">
                    <div class="btn-group">
                        <a data-placement="bottom" data-original-title="Fullscreen" data-toggle="tooltip"
                           class="btn btn-default btn-sm" id="toggleFullScreen">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </a>
                    </div>
                    <div class="btn-group">
                        <a data-placement="bottom" data-original-title="E-mail" data-toggle="tooltip"
                           class="btn btn-default btn-sm">
                            <i class="fa fa-envelope"></i>
                            <span class="label label-warning">5</span>
                        </a>
                        <a data-placement="bottom" data-original-title="Сообщения" href="#" data-toggle="tooltip"
                           class="btn btn-default btn-sm">
                            <i class="fa fa-comments"></i>
                            <span class="label label-danger">4</span>
                        </a>
                        <a data-toggle="modal" data-original-title="Help" data-placement="bottom"
                           class="btn btn-default btn-sm"
                           href="#helpModal">
                            <i class="fa fa-question"></i>
                        </a>
                    </div>
                    <div class="btn-group">
                        <a href="/logout" data-toggle="tooltip" data-original-title="Выход" data-placement="bottom"
                           class="btn btn-metis-1 btn-sm">
                            <i class="fa fa-power-off"></i>
                        </a>
                    </div>
                    <div class="btn-group">
                        <a data-placement="bottom" data-original-title="Показать / скрыть меню" data-toggle="tooltip"
                           class="btn btn-primary btn-sm toggle-left" id="menu-toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                        <a href="#right" data-toggle="onoffcanvas" class="btn btn-default btn-sm" aria-expanded="false">
                            <span class="fa fa-fw fa-comment"></span>
                        </a>
                    </div>

                </div>


                <div class="collapse navbar-collapse navbar-ex1-collapse">

                    <!-- .nav -->
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Отчеты <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Прайс-лист услуг</a></li>
                                <li><a href="#">Прайс-лист запчастей</a></li>
                                <li><a href="#">Работы за период</a></li>
                                <li><a href="#">Состояние склада</a></li>
                                <li><a href="#">Заказы за период</a></li>
                                <li><a href="#">Заказы по сотрудникам</a></li>
                                <li class="nav-divider"></li>
                                <li><a href="#">Добавить отчет</a></li>
                                <li><a href="#">Удалить отчет</a></li>
                            </ul>
                        </li>
                        <li class='dropdown '>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Таблицы <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/clients">Клиенты</a></li>
                                <li><a href="/services">Услуги</a></li>
                                <li><a href="/spareparts">Запчасти</a></li>
                                <li><a href="/warehouses">Склады</a></li>
                                <li><a href="/suppliers">Поставщики</a></li>
                                <li><a href="/employees">Сотрудники</a></li>
                                <li><a href="/contracts">Договоры</a></li>
                                <li><a href="/schedule">Расписание</a></li>
                                <li><a href="/orders">Заказы</a></li>
                                <li><a href="/work">Работы</a></li>
                                <li><a href="/selling">Продажи</a></li>
                                <li><a href="/payments">Платежи</a></li>
                                <li><a href="/sold_goods">Проданные товары</a></li>
                                <li><a href="/admission">Поступление</a></li>
                                <li><a href="/arrived_goods">Поступившие товары</a></li>
                                <li><a href="/write-off">Списание</a></li>
                                <li><a href="/written-off_goods">Списанные товары</a></li>
                                <li><a href="/chronology">Хронология</a></li>
                                <li><a href="/warehouse_condition">Состояние склада</a></li>
                                <li><a href="/history_of_changes">История изменение</a></li>
                                <li class="nav-divider"></li>
                                <li><a data-toggle="modal" href="#NewTableModal">Добавить таблицу</a></li>
                                <li><a data-toggle="modal" href="#DeleteTableModal">Удалить таблицу</a></li>
                            </ul>
                        </li>
                        <li class='dropdown '>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Сервис <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="form-general.html">Отправка E-mail</a></li>
                                <li><a href="form-validation.html">E-mail рассылка</a></li>
                                <li><a href="form-wysiwyg.html">SMS рассылка</a></li>
                                <li><a href="form-wizard.html">Печать чеков и этикеток</a></li>
                                <li><a href="#">Настройка напоминаний</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /.nav -->
                </div>
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!-- /.navbar -->

        <header class="head">
            <div class="search-bar">
                <form class="main-search" action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Поиск ...">
                        <span class="input-group-btn">
                                                <button class="btn btn-primary btn-sm text-muted" type="button">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                    </div>
                </form>
                <!-- /.main-search -->                                </div>
            <!-- /.search-bar -->
            <div class="main-bar">
                <h3>
                    <i class="fa fa-table"></i>&nbsp;
                    <%=title%>
                </h3>
            </div>
            <!-- /.main-bar -->
        </header>
        <!-- /.head -->
    </div>
    <!-- /#top -->
    <div id="left">
        <div class="media user-media bg-dark dker">
            <div class="user-media-toggleHover">
                <span class="fa fa-user"></span>
            </div>
            <div class="user-wrapper bg-dark">
                <a class="user-link" href="">
                    <img class="media-object img-thumbnail user-img" alt="User Picture" src="/img/user.gif">
                    <span class="label label-danger user-label">16</span>
                </a>

                <div class="media-body">
                    <h5 class="media-heading"><%= user.login %></h5>
                    <ul class="list-unstyled user-info">
                        <li><a href=""><%= user.post %></a></li>
                        <li>Дата : <br>
                            <small><i class="fa fa-calendar"></i><label id="datenow"></label></small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- #menu -->
        <ul id="menu" class="bg-blue dker">
            <li class="nav-header">Меню</li>
            <li class="nav-divider"></li>
            <li class="">
                <a href="/clients">
                    <i class="fa fa-address-book"></i><span class="link-title">&nbsp;Клиенты</span>
                </a>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-id-card "></i>
                    <span class="link-title">Заказы</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="collapse">
                    <li>
                        <a href="boxed.html">
                            <i class="fa fa-angle-right"></i>&nbsp; В работе</a>
                    </li>
                    <li>
                        <a href="fixed-header-boxed.html">
                            <i class="fa fa-angle-right"></i>&nbsp; Выполненые</a>
                    </li>
                    <li>
                        <a href="/orders">
                            <i class="fa fa-angle-right"></i>&nbsp; Все</a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="/schedule">
                    <i class="fa fa-calendar"></i>
                    <span class="link-title">Расписание</span>
                </a>

            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-users"></i>
                    <span class="link-title">
                                    Сотрудники
                        	  </span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="collapse">
                    <li>
                        <a href="/employees/inspectors">
                            <i class="fa fa-angle-right"></i>&nbsp; Мастера-приёмщики</a>
                    </li>
                    <li>
                        <a href="/employees/sellers">
                            <i class="fa fa-angle-right"></i>Продавецы</a>
                    </li>
                    <li>
                        <a href="/employees/mechanic">
                            <i class="fa fa-angle-right"></i>Автомеханики/автоэлектрики</a>
                    </li>
                    <li>
                        <a href="/employees">
                            <i class="fa fa-angle-right"></i>Все</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/services">
                    <i class="fa fa-list"></i>
                    <span class="link-title">Услуги</span>
                </a>
            </li>
            <li>
                <a href="/spareparts">
                    <i class="fa fa-cogs"></i>
                    <span class="link-title">
                                    Запчасти
                                  </span> </a>
            </li>
            <li>
                <a href="/admission">
                    <i class="fa fa-dashboard"></i><span class="link-title">
                                    Поступление
                                  </span>
                </a>
            </li>
            <li>
                <a href="/selling">
                    <i class="fa fa fa-bar-chart-o"></i>
                    <span class="link-title">
                                    Продажи
                                  </span>
                </a>
            </li>
            <li>
                <a href="/write-off">
                    <i class="fa fa-calendar"></i>
                    <span class="link-title">
                                    Списание
                                  </span>
                </a>
            </li>
            <li>
                <a href="/warehouse_condition">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span class="link-title">
                                      Состояние склада
                                    </span>
                </a>
            </li>
            <li>
                <a href="/contracts">
                    <i class="fa fa-columns"></i>
                    <span class="link-title">
                            Договоры
                            </span>
                </a>
            </li>
            <li>
                <a href="layout.ejs">
                    <i class="fa fa-map-marker"></i>
                    <span class="link-title">
                            Карта
                            </span>
                </a>
            </li>
            <li class="nav-divider"></li>
            <li>
                <a href="/logout">
                    <i class="fa fa-sign-in"></i>
                    <span class="link-title">
                            Выход
                            </span>
                </a>
            </li>
        </ul>
        <!-- /#menu -->
    </div>
    <!-- /#left -->
    <script>
        window.onload = function(){
            (function(){
                var date = new Date();
                var format = new Intl.DateTimeFormat("ru", {
                    month: "long",
                    day: "numeric",
                    hour: "numeric",
                    minute: "numeric"
                });
                date = format.format(date)
                $("#datenow").text(date);
            })();
        };

    </script>
